
@{
    ViewBag.Title = "Promote Employee";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutMain.cshtml";
    var details = ViewBag.assignresource;
}
<script src="../Scripts/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="../Scripts/assets/js/plugins.js"></script>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Promote Employee</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "ManagerHome")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "PromoteEmployee")">Promote Employee /</a></li>
                    <li class="active"> Index </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    @*<div class="card-header">
        <h2>Promote Employee</h2>
    </div>*@
    <br />
    <div class="container">
        @if (details != null && details.Count>0)
        {<table class="table table-striped">
                <tr>
                    <th style="display:none">@Html.DisplayName("Assign Resource Id")</th>
                    <th>@Html.DisplayName("Project Name")</th>
                    @*<th>@Html.DisplayName("Manager Name")</th>*@
                    <th style="display:none">@Html.DisplayName("Module Id")</th>
                    <th>@Html.Label("Module Name")</th>
                    <th>@Html.Label("Employees Name")</th>
                    <th>@Html.Label("Remark")</th>
                    <th>@Html.Label("Status")</th>
                    <th>@Html.Label("Promote")</th>
                </tr>

                @foreach (var item in details)
                {
                    <tr>
                        <td style="display:none">@item.Id</td>
                        <td>@item.projectname</td>
                        @*<td>@item.managername</td>*@
                        <td style="display:none">@item.Module_Id</td>
                        <td>@item.modulename</td>
                        <td>@item.employeename</td>

                        <td>
                            <div class="animated">
                                @*<div class="card-body">*@
                                @*<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#smallmodal" onclick="myPopupFun(@item.Id)">
                                    Employee List
                                </button>*@
                                <p data-toggle="modal" data-target="#smallmodal" onclick="myPopupFun(@item.Id,@item.Employee_Id)">
                                    List
                                </p>
                                <div class="modal fade show" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" style="display: none; padding-right: 17px;">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content" style="left: 100px;top: 140px;">
                                            <div class="modal-header">
                                                <p class="modal-title" style='font-size:16px' id="smallmodalLabel">List</p>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @*<p>
                                                My Popup
                                                                                </p>*@
                                                <table >
                                                    <tr>
                                                        <th>Topics</th>
                                                        <th>Remarks</th>
                                                    </tr>

                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                @*</div>*@


                            </div>
                            @*<a href="javascript:;" class="anchorDetail" id="myPopup-@item.Id" data-id="@item.Id" onclick="myPopupFun(@item.Id)">List Employee</a>*@
                        </td>
                        <td>In Process</td>
                        <td> @Html.ActionLink("Promote", "Promote", new { id = item.Id, empid = item.Employee_Id },new { @class="btn btn-success"})</td>
                        @*@{DateTime? fromdate = null;
                            DateTime? todate = null;
                        }

                        @{ bool added = false;
                            int trainerid = 0;}
                        @foreach (var training in Model.Training)
                        {
                            if (item.Id == training.AssignResource_Id)
                            {
                                fromdate = training.FromDate;
                                todate = training.ToDate;
                                added = true;
                                trainerid = training.Id;
                            }
                        }
                        <td>@fromdate</td>
                        <td>@todate</td>
                        <td>
                            @if (added == true)
                            {
                                @Html.ActionLink(" ", "Edit", new { id = @trainerid }, new { @class = "ti-pencil" })
                                @Html.ActionLink(" ", "Delete", new { id = @trainerid }, new { @class = "ti-trash" })
                            }
                            else
                            {
                                <a href='@Url.Action("Create", "Training",new { moduleid=@item.Module_Id,assignresid=@item.Id})'>Add Details</a>
                                <a></a>
                            }

                        </td>*@

                    </tr>
                }

            </table>
            <div id="dialog" style="display: none"></div>

        }
        else
        {
            <div class="card-body" style="color:red;"><b>No Record Found</b></div>
        }

    </div>
</div>
<script type="text/javascript">
    function myPopupFun(id,empid) {
        $(".modal-body table tr:not(:first)").remove();
        //$("#dialog").dialog({
        //    autoOpen: false,
        //    modal: true,
        //    title: "View Details"
        //});
        //$("#myPopup-" + id).click(function () {
        //   debugger;
        //  var $buttonClicked = $(this);
        //  var id = $buttonClicked.attr('data-id');
        //  alert(id);
        $.ajax({
            type: "GET",
            url: '/Manager/PromoteEmployee/getTopics',
            contentType: "application/json; charset=utf-8",
            data: { "assId": id, "empid": empid },
            datatype: "json",
            success: function (result) {

                $.each(result, function (i, empname) {
                    $(".modal-body table").append("<tr><td>" + empname.Topics + "</td><td>" + empname.Remark+"</td></tr>")
                        //("<p style='font-size:14px'>" + empname.Topics + " and " + empname.Remark + "</p>")
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        //});
    };
</script>