
@model RetentionTool.ViewModel.AssignEvaluterViewModel
@{
    ViewBag.Title = "Create Assign Evaluater";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutMain.cshtml";
    var assResDetails = ViewBag.assResDetails;
}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create Assign Evaluater</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "ManagerHome")">Dashboard </a></li>
                    <li><a href="@Url.Action("Index", "AssignEvaluater")"> Assign Evaluater </a></li>
                    <li class="active"> Create  </li>
                </ol>
            </div>
        </div>
    </div>
    </div>
    <div class="card">
        @*<div class="card-header">

                <h2>Create  Assign Evaluater</h2>

            </div>*@
        @if (assResDetails.Count > 0)
        {

            
        <div class="container" style="width:100%;margin-top:2%">
            <table class="table table-striped" id="tble" style="width:100%">
                <tr>
                    @*<th>@Html.DisplayNameFor(model => model.AssignEvaluater.AssignResource_Id)</th>*@

                    <th>@Html.Label("Project Name")</th>

                    <th>@Html.DisplayNameFor(model => model.AssignEvaluater.AssignResource.Module.ModuleName)</th>



                    <th>@Html.Label("Actions")</th>
                </tr>
                @foreach (var item in assResDetails)
                {
                    <tr>
                        @*<td>@item.Id</td>*@
                        <td>@item.ProjectsDetail.Name</td>

                        <td>@item.Module.ModuleName</td>


                        <td>
                            <a href='@Url.Action("CreateAssignEvaluter", "AssignEvaluater", new {assignresid=@item.Id})'>Add Details</a>

                        </td>

                    </tr>
                }

            </table>
            <div class="row form-group">
                <div class="col col-md-3">


                </div>
                <div class="col-12 col-md-9">                   
                    @Html.ActionLink("Back to List", "Index")

                </div>

            </div>
           


        </div>
        }
        else
        {
            <div class="card-body" style="color:red;"><b>No Record Found</b></div>
        }
    </div>
