@model RetentionTool.ViewModel.ProjectWorkedViewModel
@{
    ViewBag.Title = "Index Project Worked";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<h2>Index Project Worked</h2>

<div class="card-body">
    @Html.ActionLink("Create New", "Create", "ProjectWorked", null, new { @class = "btn btn-outline-primary" })
</div>
<div class="container" style="width:100%;margin-top:2%">
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayName("Employee Name")</th>
            <th>@Html.DisplayName("Employee Code")</th>
            <th>@Html.DisplayName("Project Name")</th>
            <th>@Html.DisplayNameFor(model => model.projects.Designation)</th>
            <th>@Html.DisplayNameFor(model => model.projects.Responsibilities)</th>
            <th>@Html.DisplayNameFor(model => model.projects.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.projects.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.projects.Description)</th>
            @*<th>@Html.DisplayNameFor(model => model.projects.TeamMembers)</th>
        <th>@Html.DisplayNameFor(model => model.projects.Manager_Id)</th>*@



            <th>@Html.Label("Actions")</th>
        </tr>
        @foreach (var item in Model.projectvm)
        {
        <tr>
            <td>@item.PersonalInfo1.Name</td>
            <td>@item.PersonalInfo1.EmpCode</td>
            <td>@item.ProjectsDetail.Name</td>
            <td>@item.Designation</td>
            <td>@item.Responsibilities</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.Description</td>
            @*<td>@item.TeamMembers</td>
        <td>@item.Manager_Id</td>*@



            <td>
                @Html.ActionLink(" ", "Edit", new {id=@item.Id},
                              new { @class = "ti-pencil"} )
                @Html.ActionLink(" ", "Delete", new { id = @item.Id }, new { @class = "ti-trash" })
            </td>
        </tr>
        }

    </table>


</div>


