@model RetentionTool.ViewModel.ProjectWorkedViewModel
@{
    ViewBag.Title = "Edit Critical Resource";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var criticalacc =ViewBag.criticalacc;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div class="card">
    <div class="card-header">
        <h2>Edit Critical Resource</h2>

    </div>
    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col-md-3">
                @Html.LabelFor(model => model.projects.ProjectsDetail.Name, new { @class = "form-control-label" })
            </div>
            <div class="col-12 col-md-9">
                @*@Html.HiddenFor(model=>model)*@
                @Html.HiddenFor(model => model.projects.Project_Id, new { @id= "projectId", @class="project"})
                @Html.DisplayFor(model => model.projectname, new { @class = "form-control-label", @id = "projectname", style = "width:30%" })
            </div>
        </div>
        
             <br />
             <div>

                 <table class="table table-striped" id="tbl" style="width:50%">
                     <tr>
                         <th>Select</th>

                         <th>Employee Name</th>
                         <th>Employee Code</th>
                         <th style="display:none;width:0%">Employee Id</th>
                         <th>Designation</th>
                         <th>Responsibility</th>
                         <th>IsTrainer</th>

                     </tr>
                     @{ 
                         int criticalId = 0;
                     }
                     @foreach (var item in Model.projectvm)
                     {
                         <tr>
                             <td>
                                 @{ bool IsCriticalRes = false;
                                     
                                     }
                                 @*@foreach (var id in ViewBag.CriticalRes)
                                 {*@
                                     @if (ViewBag.CriticalRes.PersonalInfo_Id == item.PersonalInfo1.Id)
                                     {
                                         IsCriticalRes = true;
                                         criticalId = ViewBag.CriticalRes.Id;
                                     }
                                 @*}*@
                                 @if (IsCriticalRes == true)
                                 {
                                     <input type="radio"@*"checkbox"*@ name="critical" class="chck" checked onclick="showcheckbox();" />
                                 }
                                 else
                                 {
                                     <input type="radio"@*"checkbox"*@ name="critical" class="chck" onclick="showcheckbox();" />
                                 }

                             </td>
                             <td>@item.PersonalInfo1.Name</td>
                             <td>@item.PersonalInfo1.EmpCode</td>
                             <td style="display:none;width:0%">@item.PersonalInfo1.Id</td>
                             <td>@item.Designation</td>
                             <td>@item.Responsibilities</td>
                             <td>
                                 @{ bool isTrainer = false;}

                                 @*@foreach (var id in ViewBag.TrainerDet)
                                 {*@
                                     @if (ViewBag.TrainerDet.PersonalInfo_Id == item.PersonalInfo1.Id)
                                     {
                                         isTrainer = true;
                                     }
                                 @*}*@
                                 @if (isTrainer == true)

                                 {
                                     <input type= "radio"@*"checkbox"*@ name="trainer"class="chcktrainer" checked />
                                 }
                                 else
                                 {
                                     <input type="radio"@*"checkbox"*@ name="trainer" class="chcktrainer" />
                                 }

                             </td>
                         </tr>
                     }
                 </table>
                 <input type="hidden" id="criticalId" value=@criticalId />
                 <br />
                 <div  id="accountinfo">
                     <div class="row form-group">
                         <input class="form-control" style="width:30%" id="reporting" placeholder="reporting" />
                         <input id="Information" placeholder="Information" />
                         <input type="button" value="Add" class="add-accountability" />
                     </div>

                     <table class="table table-striped" id="table-accountability" style="width:50%">
                         <tr>
                             <th>Select</th>
                             <th>reporting</th>
                             <th>Information</th>
                         </tr>
                         
                         @foreach (var i in criticalacc)
                         {
                            <tr>
                                <td><input type="checkbox" name="chck" /></td>
                                <td>@i.Name</td>
                                <td>@i.Value</td>
                            </tr>
                         }

                     </table>
                     <br />
                     <button type="button" class="del-accountability">Delete</button>
                 </div>
                 <br />

             </div>

        <div class="row form-group">
            <div class="col col-md-3">


            </div>
            <div class="col-12 col-md-9">

                <input type="submit" value="Save" id="btnSave" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", "CriticalResource", null, new { @class = "btn btn-outline-link" })

            </div>


        </div>

    </div>
</div>
<script>

    function showcheckbox() {
        //$('#tbl input[type="checkbox"]').click(function () {
        if ($('#tbl input[type = "checkbox"]').find('input.chck').is(':checked')) {
                //.prop('checked', true);
                $(this).find('input.chcktrainer').prop('checked', true);
            }
            else {
                $(this).find('input.chcktrainer').prop('checked', false);
            }
        //});
    }

    $(".add-accountability").click(function () {

        var reporting = $("#reporting").val();
        var Information = $("#Information").val();

        var Company = "<tr><td><input type='checkbox'  name='chck'></td><td>" +
            reporting + "</td><td>" +
            Information + "</td></tr>";

        $("#table-accountability").append(Company);
        $("#reporting").val('');
        $("#Information").val('');
    });

    $(".del-accountability").click(function () {
        $("#table-accountability").find('input[name="chck"]').each(function () {
            if ($(this).is(":checked")) {
                $(this).parents("tr").remove();
            }
        });
    });


      $("#btnSave").click(function () {
          var criticallist ;
          var trainerlist ;
          var projectId = $("#projectId").val();
          $("table tr:not(:first)").each(function () {
              
              if ($(this).find('input.chck').is(':checked')) {
                          //iseligible = true;
                          //  var p_id = $(tdlist[0]).html();
                  var tdlist = $(this).find("td");
                  criticallist= { PersonalInfo_Id: $(tdlist[3]).html(), Project_Id: projectId };
                 // criticallist.push(Item);
              }
              if ($(this).find('input.chcktrainer').is(':checked')) {
                  var tdlist = $(this).find("td");
                  trainerlist = { PersonalInfo_Id: $(tdlist[3]).html() };
                  //trainerlist.push(Item);
              } 
          })
          var criticalid = $("#criticalId").val();
          var accinfo = [];
          $("#table-accountability tr:not(:first)").each(function () {
              var tdlist = $(this).find("td");
              var Item = { criticalresource_Id: criticalid, Name: $(tdlist[1]).html(), Value: $(tdlist[2]).html() };
              accinfo.push(Item);
          })
              
         var newUrl= '@Url.Action("Index", "CriticalResource")';
                $.ajax({
                    url: '@Url.Action("Edit", "CriticalResource")', //
                    dataType: "json",
                    data: JSON.stringify({
                        criticallist: criticallist, trainerlist: trainerlist, criticalacc: accinfo
                    }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        window.location.href = newUrl;
                    },
                    error: function (xhr) {
                        alert("error");
                    }
        });
        });


</script>
