@model RetentionTool.ViewModel.CriticalResourceViewModel
@{
    ViewBag.Title = "Index Critical Resource";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var prjctDetails = ViewBag.prjctDetails;
    var criticalDetails = ViewBag.CriticalResPrjct;
}

<h2>Index Critical Resource</h2>

@*<div class="card-body">
    @Html.ActionLink("Create New", "Create", "CriticalResource", null, new { @class = "btn btn-outline-primary" })
</div>*@
<div class="container" style="width:100%;margin-top:2%">
    <table class="table table-striped">
        <tr>
            @*<th>@Html.Label("Project Id")</th>*@
            <th>@Html.Label("Project Name")</th>

            <th>@Html.Label("Actions")</th>

        </tr>
        @foreach (var item in prjctDetails)
        {
        <tr>

            <td>@item.Name</td>
            <td>
                @{ bool IsCritical = false;}
                @foreach (var critiprjctid in criticalDetails)
                {
                    if (critiprjctid == @item.Id)
                    {
                        IsCritical = true;
                    }
                   
                }
                @if (IsCritical==true)
                {
                @Html.ActionLink(" ", "Edit", new {id=@item.Id},  new { @class = "ti-pencil"} )
                @Html.ActionLink(" ", "Delete", new { id = @item.Id }, new { @class = "ti-trash" })

                }
                else
                {
                <a href='@Url.Action("Create", "CriticalResource", new {id=@item.Id})'>Add Details</a>
                }




            </td>
            <td>
               
            </td>
        </tr>
        }

    </table>

</div>