@model RetentionTool.ViewModel.CriticalResourceViewModel
@{
    ViewBag.Title = "Index Critical Resource";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var prjctDetails = ViewBag.prjctDetails;
}

<h2>Index Critical Resource</h2>

<div class="card-body">
    @Html.ActionLink("Create New", "Create", "CriticalResource", null, new { @class = "btn btn-outline-primary" })
</div>
<div class="container" style="width:100%;margin-top:2%">
    <table class="table table-striped">
        <tr>
            <th>@Html.Label("Project Name")</th>
           
            <th>@Html.Label("Actions")</th>
           
        </tr>
        @foreach (var item in prjctDetails)
        {
            <tr>
              
                <td>@item</td>
                <td>

                    <a href='@Url.Action("Create", "CriticalResource", new {name=item})'>Add Details</a>

                </td>
                <td>
                    @*@Html.ActionLink(" ", "Edit", new {name=item},
                     //new { id = item.Id }, null)
                     new { @class = "ti-pencil"} )
                    @Html.ActionLink(" ", "Delete", new { name = item }, new { @class = "ti-trash" })*@
                </td>
            </tr>
        }

    </table>

</div>