@model RetentionTool.ViewModel.UserDetailsViewModel
@{
    ViewBag.Title = "Index User Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1> User Details</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "UserDetails")">User Details /</a></li>
                    <li class="active"> Index </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card">
    @*<div class="card-header">
        <h2>Index User Details</h2>

    </div>*@
    <div class="card-body">
        @Html.ActionLink("Create New", "Create", "UserDetails", null, new { @class = "btn btn-outline-primary" })
        <div class="container" style="width:100%;margin-top:2%">
            <table class="table table-striped" id="tble">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.userDetail.PersonalInfo.EmpCode)</th>
                    <th>@Html.DisplayNameFor(model => model.userDetail.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.userDetail.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.userDetail.Password)</th>
                    <th>@Html.Label("Role Name")</th>
                    <th>@Html.DisplayNameFor(model => model.userDetail.EntryDate)</th>
                    <th>@Html.Label("Actions")</th>
                </tr>
                @foreach (var item in Model.userDetailsvm)
                {
                <tr>

                    <td>@item.PersonalInfo.EmpCode</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Password</td>
                    <td>@item.Role.Name</td>
                    <td>@item.EntryDate</td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "ti-pencil" })
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "ti-trash" })
                    </td>

                </tr>
                }

            </table>

        </div>
    </div>

</div>



