@model IEnumerable<RetentionTool.Models.AssignResourceViewModel>
@{
    ViewBag.Title = "Assign Resource Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Assign Resource Index</h2>
<div class="card-body">
    @Html.ActionLink("Create New","Create","AssignResource",null,new { @class="btn btn-outline-primary"})
</div>
<div class="container" style="width:100%;margin-top:2%">
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.managername)</th>
            <th>@Html.DisplayNameFor(model => model.modulename)</th>
            <th>@Html.DisplayNameFor(model => model.trainername)</th>
            <th>@Html.DisplayNameFor(model => model.employeename)</th>

            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.Label("Actions")</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.managername</td>
            <td>@item.modulename</td>
            <td>@item.trainername</td>
            <td>@item.employeename</td>
            <td>@item.Date</td>
            <td>
                @Html.ActionLink(" ", "Edit", new {id=item.Id},
               //new { id = item.Id }, null)
                 new { @class = "ti-pencil"} )
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "ti-trash" })
            </td>
        </tr>
        }

    </table>

</div>
<table>


</table>