@model RetentionTool.ViewModel.EmployeeInfoViewModel
@{
    ViewBag.Title = "Create Employee Skills";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
}


<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1> Create Employee Skills</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    @*<li><a href="@Url.Action("Index", "EmployeeInfo")">Employee Skills  /</a></li>*@
                    <li class="active"> Employee Skills </li>
                </ol>
            </div>
        </div>
    </div>
</div>



    <div class="card-body card-block">

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.Label("Name")</div>
            </div>
            <div class="col-12 col-md-9">
                @Html.DropDownListFor(model => model.EducationQualificationVm.P_Id, ViewData["Id"] as SelectList, new { @id = "P_Id", @class = "form-control", style = "width:40%" })
            </div>
        </div>

        <div class="row form-group">
            <input class="form-control" style="width:30%" id="searchskill" placeholder="Skills" />&nbsp;
            <input id="searchid" style="display:none" />
            @*<input id="searchskill" type="text" />*@
            <input id="Years" placeholder="Years" />&nbsp;
            <input id="Months" placeholder="Months" />&nbsp;
            <input id="Status" placeholder="Status" />&nbsp;
            <input type="button" value="Add" class="add-emp" />
        </div>

        <div id="tbl" style="display:none">
            <table class="table table-striped" style="width:100%">
                <tr>
                    <th> Skills</th>
                    <th style="display:none;width:0%">Skill Id</th>
                    <th>Years</th>
                    <th>Months</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

            </table>
        </div>
        @*<br />
        <button type="button" class="del-emp">Delete</button>*@
    </div>

    <div class="col-12 col-md-9">

        <input type="submit" value="Create" id="btnSave" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Index", "ProjectWorked", null, new { @class = "btn btn-outline-link" })

    </div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(".add-emp").click(function () {

        var skillname = $("#searchskill").val();
        var skillid = $("#searchid").val();
        var Years = $("#Years").val();
        var Months = $("#Months").val();
        var Status = $("#Status").val();
        if (skillname.length > 0 && skillid.length > 0 && Years.length > 0 && Months.length > 0 && Status.length > 0)
        {
            var markup = "<tr id=" + skillid + "><td>" +
                skillname + "</td><td style='display: none'>" + skillid + "</td><td>" +
                Years + "</td><td>" +
                Months + "</td><td>" +
                Status + "</td><td><input type='submit' value='Delete' onclick='delete_Row(" + skillid + ")'></td></tr>";
            $("table tbody").append(markup);
            $("#searchskill").val('');
            $("#searchid").val('');
            $("#Years").val('');
            $("#Months").val('');
            $("#Status").val('');
        }
        
    });

    $(".del-emp").click(function () {

        $("table tbody").find('input[name="chck"]').each(function () {
            if ($(this).is(":checked")) {
                $(this).parents("tr").remove();
            }
        });
    });

</script>
<script type="text/javascript">
            $(function () {
                $("#btnSave").click(function () {
                //    debugger;
                    var itemlist = [];
                    var P_Id = $("#P_Id").val();
                    var Common_Id = 1;
                   // var skill_Id = $("#skillsemp").val();
                   // var Years = $("#Years").val();
                   //var months = $("#Months").val();
                   // var status = $("#Status").val();
                    $("table tr:not(:first)").each(function () {
                        var tdlist = $(this).find("td");

                        var Item = {
                            P_Id: P_Id,CommonField_Id: Common_Id, Skills_Id: $(tdlist[2]).html(), Years: $(tdlist[3]).html(), Months: $(tdlist[4]).html()
                            , Status: $(tdlist[5]).html()
                        };

                        itemlist.push(Item);
                    })
                    //alert(itemlist);

                  //  var newUrl = '@Url.Action("Index","EmployeeInfo")';
                   // alert('jjj');
                    $.ajax({
                        url: "/EmployeeInfo/EmpSkillsCreate",
                   // url: '@Url.Action("EmpSkillsCreate", "EmployeeInfo")',
                    dataType: "json",
                        data: JSON.stringify({ empSkill: itemlist }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        alert("success");
                        //$("#date").val('');
                        //$("#managerid").val('');
                        //$("#moduleid").val('');
                        //$("#trainerid").val('');
                        //$("table tbody").empty();
                       // window.location.href = newUrl;
                    },
                          error: function (xhr) {
                              alert("error");
                    }
                });

                    @*$.ajax({
                        url: '@Url.Action("EmpSkillsCreate", "EmployeeInfo")', //
                        dataType: "json",
                        data: JSON.stringify({ es: itemlist }),
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            alert("success");
                            $("#Common_Id").val('');
                            $("#skill_Id").val('');
                            $("#Years").val('');
                            $("#Months").val('');
                            $("#Status").val('');

                            window.location.href = newUrl;
                        },
                        error: function (xhr) {
                            alert("error");
                        }
                    });*@
                });
            });
</script>


<script>
    $(function () {
        $("#searchskill").autocomplete({
            source: function (request, response) {
                var param = { name: $('#searchskill').val() };
                $.ajax({
                    url: "/EmployeeInfo/getSkills",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.SkillName, id: item.id }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            select: function (event, ui) {
                // prevent autocomplete from updating the textbox
                event.preventDefault();
                $(this).val(ui.item.label);
                $("#searchid").val(ui.item.id);
                // $("#searchskill").val(ui.item.name);
            }    //minLength as 2, it means when ever user enter 2 character in TextBox the AutoComplete method will fire and get its source data.
        });
    });

</script>
