<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @{
        //var roleid = "0";
        //if (Session["RoleId"]!=null)
        //{
        //     roleid = Session["RoleId"].ToString();

        //}


    }


    <link href="~/Scripts/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link href="~/Scripts/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/cs-skin-elastic.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Scripts/assets/css/themify-icons.css">
    <link href="~/Scripts/assets/css/normalize.css" rel="stylesheet" />

    <link href="~/Scripts/assets/css/style.css" rel="stylesheet" />

    <script src="~/Scripts/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>*@

</head>



@*<link href="~/Scripts/style.css" rel="stylesheet" />*@
@*<img src="~/Scripts/images/admin.jpg" />*@
<body>



    <aside id="left-panel" class="left-panel" style="background:#6699ff">
        <nav class="navbar navbar-expand-sm navbar-default" style="background:#6699ff">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <a class="navbar-brand" href="./"><img src="~/Scripts/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="~/Scripts/images/logo2.png" alt="Logo"></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","ProjectWorked")">Assign Team Members</a></li>
                    <li><a href="@Url.Action("Index", "SearchEmpSkill")">Search Based on Skills</a></li>
                    <li><a href="@Url.Action("Index", "CriticalResource")"> Critical Resource</a></li>
                    <li><a href="@Url.Action("Index", "AssignResource")">Create Backup</a></li>
                    <li><a href="@Url.Action("Index", "PromoteEmployee")">Promote Employee</a></li>
                    <li><a href="@Url.Action("Index", "GeneralTraining")">Plan Training</a></li>
                    <li><a href="@Url.Action( "Index","AssignEvaluater")">Assign Evaluater</a></li>
                    <li><a href="@Url.Action("Index","ApproveEmpSkills")">ApproveEmpSkills</a></li>

                </ul>

            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">


                    @*<li class="active">
                            <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        </li>*@


                    @*<h3 class="menu-title">UI elements</h3>*@
                    @*<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>UI Elements</a>
                        <ul class="sub-menu children dropdown-menu">

                            <li><a href="@Url.Action( "Index","CommonField")">CommonFields</a></li>
                            <li><a href="@Url.Action( "Index","Skills")">Skills</a></li>
                            <li><a href="@Url.Action( "Index","Module")">Modules</a></li>

                            <li><a href="@Url.Action( "Index","ProjectsDetails")">Projects Details</a></li>

                            <li><a href="@Url.Action( "Index","ProjectWorked")">Project Worked</a></li>
                            <li><a href="@Url.Action( "Index","CriticalResource")">Identify Critical Resource</a></li>
                            <li><a href="@Url.Action( "Index","AssignResource")">Assign Resource</a></li>
                            <li><a href="@Url.Action( "Index","GeneralTraining")">General Training</a></li>
                            <li><a href="@Url.Action( "Index","Training")">Training</a></li>

                            <li><a href="@Url.Action( "Index","SessionSummary")">Session Summary</a></li>
                            <li><a href="@Url.Action( "Index","PromoteEmployee")">Promote Employee</a></li>
                            <li><a href="@Url.Action( "Index","RateEmployee")">Rate Employee Eligiablity</a></li>
                            <li><a href="@Url.Action( "Index","AssignEvaluater")">Assign Evaluater</a></li>
                            <li><a href="@Url.Action( "Index","EmployeeEvaTaskl")">Employee Eval Task</a></li>
                            <li><a href="@Url.Action( "Upload","ImportData")">Import Data</a></li>
                            <li><a href="@Url.Action( "Index","EmployeeInformation")">Employee Information</a></li>
                            <li><a href="@Url.Action( "Index","UserDetails")">User Details</a></li>
                            </ul>
                        </li>*@

                    @*<li class="menu-item-has-children dropdown">
                            <a href="@Url.Action( "Index","BloodGroups")" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
                                <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>
                                <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>
                                <li><i class="fa fa-share-square-o"></i><a href="ui-social-buttons.html">Social Buttons</a></li>
                                <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>
                                <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>
                                <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>
                                <li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>
                                <li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>
                                <li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>
                                <li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>
                                <li><a href="~/Views/BloodGroups/Index.cshtml">BloodGroups</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
                                <li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
                                <li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
                            </ul>
                        </li>
                        <h3 class="menu-title">Icons</h3><!-- /.menu-title -->
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Font Awesome</a></li>
                                <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
                                <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
                                <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
                                <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
                            </ul>
                        </li>
                        <h3 class="menu-title">Extras</h3><!-- /.menu-title -->
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
                                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
                                <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
                            </ul>
                        </li>*@
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <div id="right-panel" class="right-panel" style="background:white">
        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        @if (int.Parse(Session["Notifict"].ToString()) > 0)
                        {
                            <div class="dropdown for-notification">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" onclick="myfunction(@Session["uid"]);" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger"> @Session["Notifict"] </span>
                                </button>
                                <div class="dropdown-menu bg-flat-color-1" id="notifi" aria-labelledby="notification">
                                    <p class="red">You have @Session["Notifict"]  Notification</p>
                                    @*<a class="dropdown-item media bg-flat-color-1" href="#">
                                            <i class="fa fa-check"></i>
                                            <p>Server #1 overloaded.</p>
                                        </a>
                                        <a class="dropdown-item media bg-flat-color-4" href="#">
                                            <i class="fa fa-info"></i>
                                            <p>Server #2 overloaded.</p>
                                        </a>
                                        <a class="dropdown-item media bg-flat-color-5" href="#">
                                            <i class="fa fa-warning"></i>
                                            <p>Server #3 overloaded.</p>
                                        </a>*@
                                    <p id="disablenotification" style="display:block">

                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown for-notification">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" onclick="myfunction(@Session["uid"]);" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger"> @Session["Notifict"] </span>
                                </button>
                                @*<div class="dropdown-menu" id="notifi" aria-labelledby="notification">
                                                    <p class="red">You have @Session["Notifict"]  Notification</p>
                                                    @*<a class="dropdown-item media bg-flat-color-1" href="#">
                                        <i class="fa fa-check"></i>
                                        <p>Server #1 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <i class="fa fa-info"></i>
                                        <p>Server #2 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <i class="fa fa-warning"></i>
                                        <p>Server #3 overloaded.</p>
                                    </a>
                                                    <p id="disablenotification" style="display:block">

                                                    </p>
                                                </div>*@
                            </div>
                        }
                        @*<button class="search-trigger"><i class="fa fa-search"></i></button>
                            <div class="form-inline">
                                <form class="search-form">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                    <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                                </form>
                            </div>*@
                        @*<div class="dropdown for-notification">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger">5</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="notification">
                                    <p class="red">You have 3 Notification</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <i class="fa fa-check"></i>
                                        <p>Server #1 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <i class="fa fa-info"></i>
                                        <p>Server #2 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <i class="fa fa-warning"></i>
                                        <p>Server #3 overloaded.</p>
                                    </a>
                                </div>
                            </div>*@
                        @*<div class="dropdown for-message">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="message"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-email"></i>
                                    <span class="count bg-primary">9</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="message">
                                    <p class="red">You have 4 Mails</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Jonathan Smith</span>
                                            <span class="time float-right">Just now</span>
                                            <p>Hello, this is an example msg</p>
                                        </span>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Jack Sanders</span>
                                            <span class="time float-right">5 minutes ago</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        </span>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Cheryl Wheeler</span>
                                            <span class="time float-right">10 minutes ago</span>
                                            <p>Hello, this is an example msg</p>
                                        </span>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-3" href="#">
                                        <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                        <span class="message media-body">
                                            <span class="name float-left">Rachel Santos</span>
                                            <span class="time float-right">15 minutes ago</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                        </span>
                                    </a>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src='@Session["userpath"].ToString()' alt="User Image" height="32px" width="30px">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>
                            @*<a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>*@
                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>
                            <a class="nav-link" href='@Url.Action("Index","Login",new {area=""})'><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>
                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->
        @*<div class="content mt-3">
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>*@


        <div>
            @RenderBody()
        </div>



        @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
        <script src="~/Scripts/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/assets/js/main.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="~/Scripts/assets/js/plugins.js"></script>



        <script src="~/Scripts/assets/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="~/Scripts/assets/js/dashboard.js"></script>
        <script src="~/Scripts/assets/js/widgets.js"></script>
        <script src="~/Scripts/assets/js/lib/vector-map/jquery.vmap.js"></script>
        <script src="~/Scripts/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
        <script src="~/Scripts/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
        <script src="~/Scripts/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>



    </div>
</body>

</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>*@
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<script src="https://popper.js.org"></script>*@
<script>

    function myfunction(id) {
     //   alert(id);
     
        //var value = parseInt(Session["Notifict"]);
        //var num = value - 2;
        //if (num >= 0) {
        //    Session["Notifict"] = num;
        //}
        //alert(num);
        @*@Session["Notifict"]=@Session["Notifict"]-2;*@
        $.ajax(
            {
                url: '/Manager/SearchEmpSkill/getNotifications',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({ userid: id }),
                success: function (result) {
                    //  alert(result);
                    $("#notifi").empty();
                    var markup = "<p class='red'>You have @Session["Notifict"]  Notification</p>";

                    $("#notifi").append(markup);
                    $.each(result, function (i, notif) {
                        //alert('insuccess') Name
                        if (i < 2) {
                           @*// @ViewData["id"]=notif.Id;*@
                            var markup = "<a class='dropdown-item media' style='background-color:#b3bdce' href='#' onclick='viewmore(" + notif.Id + "," + notif.type + ")'><i class='fa fa-check'></i><h6>" + notif.Message + "</h6></a><p class='dropdown-item media' style='background-color:#b3bdce'>" + notif.subMessage + "</p>";
                            ////"<tr><td><input type='checkbox'  name='chck'></td><td>" + Skill.Name + "</td><td style='display: none'>" + Skill.Id + "</td><td>" + Skill.EmpCode + "</td></tr>";
                            @*@Url.Action("Notif", "SearchEmpSkill", new { notificationid = @ViewData["id"] })*@
                            $("#notifi").append(markup);
                        }
                        else if (i == 2) {
                            var markup = "<a class='dropdown-item media' style='background-color:#b3bdce' href='@Url.Action("Notification", "SearchEmpSkill", new { userid = Session["uid"]})'>View More</a>";
                         //   var markup ="<a onclick='viewmore();'>View More</a>";
                            ////"<tr><td><input type='checkbox'  name='chck'></td><td>" + Skill.Name + "</td><td style='display: none'>" + Skill.Id + "</td><td>" + Skill.EmpCode + "</td></tr>";
                            $("#notifi").append(markup);
                        }
                        else if (i > 2) {
                            //var markup = "<a class='dropdown-item media bg-flat-color-1' href='#'><i class='fa fa-check'></i><p>" + notif.Message + "</p></a>";

                            //////"<tr><td><input type='checkbox'  name='chck'></td><td>" + Skill.Name + "</td><td style='display: none'>" + Skill.Id + "</td><td>" + Skill.EmpCode + "</td></tr>";
                            //$("#disablenotification").append(markup);
                           //disablenotification
                        }

                        // $('#skill_Id').append('<option value="' + Skill.Value + '">' + Skill.Text + '</option>');
                    });
                },
                error: function () { alert("Something Gone Wrong") },
            });
    }
    function viewmore(id,type) {
       // alert('djjdjd');
        //alert(id);
       // HttpContext.Current.Session["Notifict"] = 0;
           var newUrl= '/Manager/SearchEmpSkill/Index';
           $.ajax(
            {
                   url: '/Manager/SearchEmpSkill/Notif',
                type: 'POST',
                datatype: 'application/json',
                   contentType: 'application/json',
                   data: JSON.stringify({ notificationid: id, type: type }),
                   success: function (result) {
                       window.location.href = newUrl;

                },
                error: function () { alert("Something Gone Wrong") },
            });
       // $("#notifi").append($("#disablenotification").show());
       // $("#notifi").append(
    }
</script>