@model RetentionTool.ViewModel.EmployeeSkillsAddViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutMain.cshtml";
}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Approve Employee Skills</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "ManagerHome")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "ApproveEmpSkills")">Approve Employee Skills /</a></li>
                    <li class="active"> Index </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
   
    @if(Model.skiladd.Count>0)
    {

      <table class="table table-striped">
        <tr>

            <th>@Html.Label("Employee Name")</th>
            <th>@Html.Label("Skills")</th>
            <th>@Html.Label("Approve")</th>
            <th>@Html.Label("Evaluation")</th>
           
        </tr>

        @foreach (var item in Model.skiladd)
        {
            <tr>
                <td>@item.PersonalInfo1.Name</td>
                <td>@item.Skill.Name</td>


                <td style="display:none">
                    <input type="text" value="@item.Id" id="EmpskillAdd_Id" />
                    <input type="text" value="@item.PersonalInfo1.Id" id="EmpId" />

                </td>
                <td>
                   
                    <input type="button" id="Approve" value="Approve" onclick="onclickmethod();" />

                </td>
                <td>
                    
                    <a href='@Url.Action("Evaluates1", "ApproveEmpSkills", new {id=@item.Id})'>Evaluate</a>

                </td>

            </tr>
        }

    </table>
    }
</div>
    <script>
    function onclickmethod() {
     //   alert('hdefjd');

        var Empski = $("#EmpskillAdd_Id").val();
        var Emp_Id = $("#EmpId").val();

        var mod = { EmpskillAdd_Id: Empski, Emp_Id: Emp_Id };

         $.ajax({
             url: '@Url.Action("Index", "ApproveEmpSkills")',

                dataType: "json",
                data: JSON.stringify({ appl: mod,id:'0' }),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    window.location.href =  '@Url.Action("Index", "ApproveEmpSkills")';
                },
                error: function (xhr) {
                    alert("error");
                }
            });

    }

    </script>

 
