@model RetentionTool.Models.CommonFieldViewModel

@{
    /**/

    ViewBag.Title = "Create Primary Skill";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create Primary Skills</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "CommonField")">Primary Skills /</a></li>
                    <li class="active"> Create </li>
                </ol>
            </div>
        </div>
    </div>
</div>

    @*<div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Primary Skill</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right" style="background-color:white">
                        <li><a href="#">Modules/</a></li>
                        <li><a href="@Url.Action("Index", "CommonField")">Primary Skill/</a></li>
                        <li class="active">Create</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>*@

    <div class="card">
        @*<div class="card-header">
                <h2>Create Primary Skill</h2>

            </div>*@

        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:30%", @id = "commonfieldname" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @id = "validationforcommonfield" })
                   
                </div>
                <br />

                @*<div>
        onpropertychange ="MoniterChange()"
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:30%" })
        </div>
        <br />*@
                @*<div>

            @Html.CheckBox("IsActive", false)
            @Html.LabelFor(model => model.IsActive)
        </div>*@
                <div>

                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Back to List", "Index", "CommonField", null, new { @class = "btn btn-outline-link" })
                </div>

            </div>


            }



        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $("#commonfieldname").keypress(function () {
        //alert('dsjdh')
        if ($("#commonfieldname").val().length > 0) {
            $("#validationforcommonfield").show();
            //$("#errorforCommonfield").val("hello");
            //$("#errorforCommonfield").show();
               // val('Required');
                //attr('enabled', true)
        }
        else {
            // $("#btnSave").attr('disabled', true);
            $("#validationforcommonfield").hide();
          
           // $("#errorforCommonfield").val('');
               //.attr('disabled', true)
        }
    });


</script>

