@model RetentionTool.Models.CommonFieldViewModel

@{
    ViewBag.Title = "Delete Primary Skill";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}*@
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Delete Primary Skill</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "CommonField")">Primary Skills /</a></li>
                    <li class="active"> Delete </li>
                </ol>
            </div>
        </div>
    </div>
</div>

    <div class="card-body card-block">
        <div>
            @*<h4>Commonfield</h4>*@

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                @*<dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>

                    <dd>
                        @Html.CheckBox("IsActive", new { @disabled = "disabled" })
                    </dd>*@

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    @if (ViewData["Message"] == null)
                    {
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    }
                    else
                    {
                        <b>@ViewData["Message"]</b>
                        <br />
                    }
                    @Html.ActionLink("Back to List", "Index", "CommonField", null, new { @class = "btn btn-outline-link" })

                </div>
            }
        </div>

    </div>





