@model RetentionTool.Models.CommonFieldViewModel

@{
    ViewBag.Title = "Delete CommonField";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };

    </script>
}*@

<div class="card">

    <div class="card-header">
        <h2>Delete CommonField</h2>

    </div>
    <div class="card-body">
        <div>
            @*<h4>Commonfield</h4>*@
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.CheckBox("IsActive", new { @disabled = "disabled" })
                </dd>*@

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div>
                @if (ViewData["Message"] == null)
                {
            <input type="submit" value="Delete" class="btn btn-danger" /> 
                }
                else
                {
                <b>@ViewData["Message"]</b>
                <br />
                }
                @Html.ActionLink("Back to List", "Index", "CommonField", null, new { @class = "btn btn-outline-link" })

            </div>
            }
        </div>

    </div>
</div>




