@model RetentionTool.Models.CommonFieldViewModel

@{
    ViewBag.Title = "Edit Primary Skill";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Edit Primary Skills</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "CommonField")">Primary Skills /</a></li>
                    <li class="active"> Edit </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()*@

    <div class="row form-group">
        
        <div class="col col-md-3">
            @Html.LabelFor(model => model.Name)

        </div>
            <div class="col-12 col-md-9">
               
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:30%", @id = "commonfieldname" })
                @Html.ValidationMessageFor(model => model.Name, "Required", new { @class = "text-danger", @id = "validationforcommonfield" })

                @Html.HiddenFor(model => model.id, new { @id = "id" })
            </div>
           </div>
            @*<div>
            @Html.CheckBox("IsActive")
            @Html.LabelFor(model => model.IsActive)
        </div>*@
            <div class="row form-group">
                <div class="col col-md-3">


                </div>
                <div class="col-12 col-md-9">
                    <input type="submit" value="Save" id="btnSave" class="btn btn-success" />
                    @Html.ActionLink("Back to List", "Index", "CommonField", null, new { @class = "btn btn-outline-link" })
                </div>

            </div>
            @*<div>

            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Back to List", "Index", "CommonField", null, new { @class = "btn btn-outline-link" })

        </div>*@
        </div>


    @*}*@

</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
     
        $("#validationforcommonfield").hide();


    });
    function validate() {
    
        if ($("#commonfieldname").val().length > 0) {
            $("#validationforcommonfield").hide();
        }
        else {
            $("#validationforcommonfield").show();
        }
    }
    $("#commonfieldname").keydown(function () {
        
        if (event.which === 8) {
            if ($("#commonfieldname").val().length > 0) {

                $("#validationforcommonfield").hide();
            }
            else if ($("#commonfieldname").val() === "" || $("#commonfieldname").val().length === 0) {

                $("#validationforcommonfield").show();
            }
        }
        else if ($("#commonfieldname").val() == "") {

            $("#validationforcommonfield").hide();
        }
       
    });
    $("#btnSave").click(function () {
        var name = $("#commonfieldname").val();
        var id = $("#id").val();
        validate();
        if (name.length > 0) {
             $("#btnSave").attr('disabled', true);
                var newUrl = '@Url.Action("Index", "CommonField")';

            var mod = { Name: name, id: id };

                $.ajax({
                    url: '@Url.Action("Edit", "CommonField")', //
                    dataType: "json",
                    data: JSON.stringify({ commfieldvm: mod }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {

                        window.location.href = newUrl;
                    },
                    error: function (xhr) {
                        alert("Something Went Wrong!!");
                    }
                });

        }
      
    });

</script>

