@model IEnumerable<RetentionTool.Models.CommonFieldViewModel>

@{
    ViewBag.Title = "Primary Skills";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    h1 {
        font-size: 18px;
        /*display: inline-block;
        margin-top: 13px;*/
        padding: 15px 0;
        /*padding: 0 5px;
        width: 100%;*/
    }
    li {
        /*font-size: 16px;*/
    }
    
    
</style>
@*<style>
        .right-panel .breadcrumbs {
            background-color: #fff;
            display: inline-block;
            margin-top: 0;
            padding: 0 5px;
            width: 100%;
        }
    </style>*@


<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Primary Skills</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "CommonField")">Primary Skills /</a></li>
                    <li class="active"> Index </li>
                </ol>
            </div>
        </div>
    </div>
</div>

    @*<div class="card">*@
        @*<div class="card-header">
            <h2>Primary Skills</h2>
            </div>*@
        <div class="card-body card-text">
            @Html.ActionLink("Create New", "Create", "CommonField", null, new { @class = "btn btn-outline-primary" })

        </div>

        @if (Model.Count() > 0)
        {
            <div class="container" style="width:100%;margin-top:2%">
                <table class="table table-striped" style="width:100%">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>*@
                        <th>
                            @Html.Label("Actions")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>*@
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "ti-pencil" }) |

                                @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "ti-trash" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        }

    @*</div>*@
    @*</div>*@

@*</div>*@