@model RetentionTool.ViewModel.UserDetailsViewModel
@{
    ViewBag.Title = "loginIndex";
    Layout = null;
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
        $("#email").val('');


    </script>
}
@*<h2>loginIndex</h2>*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Scripts/assets/css/lib/Login-font-awesome.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<section class="login-block">
    @using (Html.BeginForm())
    {

        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login Now</h2>
                    <form class="login-form">
                        <div class="form-group">
                            @*<label for="exampleInputEmail1" class="text-uppercase">Username</label>
                                <input type="text" class="form-control" placeholder="">*@
                            @Html.LabelFor(model => model.userDetail.Email, new { @class = "form-control-label" })
                            @Html.TextBoxFor(model => model.userDetail.Email, new { @class = "form-control", @id = "email", style = "width:100%", @placeholder = "Enter Email" })
                        </div>

                        <div class="form-group">
                            @*<label for="exampleInputPassword1" class="text-uppercase">Password</label>
                                <input type="password" class="form-control" placeholder="">*@
                            @Html.LabelFor(model => model.userDetail.Password, new { @class = "form-control-label" })
                            @Html.PasswordFor(model => model.userDetail.Password, new { @class = "form-control", style = "width:100%", @placeholder = "Enter Password" })
                        </div>
                        <div class="form-group">
                            @Html.Label("User Type", new { @class = "form-control-label", style = "width:150%" })
                            @Html.DropDownListFor(model => model.userDetail.Role_Id, ViewData["roledetails"] as SelectList, new { @class = "form-control", style = "width:100%" })
                        </div>

                        <div class="form-check">
                            @*<label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    <small>Remember Me</small>
                                </label>*@
                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>

                    </form>
                    <div class="copy-text">Created by <a href="http://groupten.com">Group10 Technologies Pvt Ltd</a></div>
                </div>
                <div class="col-md-8 banner-sec">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            @*<li data-target="#myCarousel" data-slide-to="3"></li>*@
                        </ol>

                        <!-- Wrapper for slides -->
                        <center>



                            <div class="carousel-inner">

                                <div class="item active">
                                    <img src="~/Scripts/images/group10logo.jpg" alt="Group10">
                                  

                                </div>

                                <div class="item">
                                    <img src="~/Scripts/images/vendor-management.jpg" alt="Group10 Image">
                                   
                                </div>

                                <div class="item">
                                    <img src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="Group10">

                                </div>

                                @*<div class="item">
                                    <img src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="Group10">


                                </div>*@

                            </div>
                        </center>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style type="text/css">

    .login-block {
        background: #ccb3ff; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #aa80ff, #ccb3ff); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #aa80ff, #ccb3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float: left;
        width: 100%;
        padding: 50px 0;
    }

    .banner-sec {
        background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
        background-size: cover;
        min-height: 500px;
        border-radius: 0 10px 10px 0;
        padding: 0;
    }

    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
    }

    .carousel-inner {
        border-radius: 0 10px 10px 0;
    }

    .carousel-caption {
        text-align: left;
        left: 5%;
    }

    .login-sec {
        padding: 50px 30px;
        position: relative;
    }

        .login-sec .copy-text {
            position: absolute;
            width: 80%;
            bottom: 20px;
            font-size: 13px;
            text-align: center;
        }

            .login-sec .copy-text i {
                color: #FEB58A;
            }

            .login-sec .copy-text a {
                color: #E36262;
            }

        .login-sec h2 {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 30px;
            color: #DE6262;
        }

            .login-sec h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #FEB58A;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
                margin-left: auto;
                margin-right: auto
            }

    .btn-login {
        background: #DE6262;
        color: #fff;
        font-weight: 600;
    }

    .banner-text {
        width: 70%;
        position: absolute;
        bottom: 40px;
        padding-left: 20px;
    }

        .banner-text h2 {
            color: #fff;
            font-weight: 600;
        }

            .banner-text h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #FFF;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
            }

        .banner-text p {
            color: #fff;
        }
</style>