
@using PagedList.Mvc
@model PagedList.IPagedList<RetentionTool.Models.ProjectsDetail>

@{
    ViewBag.Title = "Projects List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var prjctDetails = ViewBag.prjctDetails;
    var criticalDetails = ViewBag.CriticalResPrjct;
}



<link href="~/Scripts/PagesdList.css" rel="stylesheet" />
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Project List</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "CriticalResource")">Critical Resource /</a></li>
                    <li class="active"> Index </li>
                </ol>
            </div>
        </div>
    </div>
</div>


@*<div class="card-body">
        @Html.ActionLink("Create New", "Create", "CriticalResource", null, new { @class = "btn btn-outline-primary" })
    </div>*@

@if (Model.Count > 0)
{
    <div class="container" style="width:100%;margin-top:2%">
        <table class="table table-striped">
            <tr>
                @*<th>@Html.Label("Project Id")</th>*@
                <th>@Html.Label("Project Name")</th>
                <th>@Html.Label("Critical Resource")</th>
                <th>@Html.Label("Actions")</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @{ string criticalname = "";
                        int criticalid = 0;}

                    <td>@item.Name</td>

                    @{ bool IsCritical = false;}
                    @foreach (var critiprjctid in criticalDetails)
                    {
                        if (critiprjctid.Project_Id == @item.Id)
                        {
                            IsCritical = true;
                            criticalname = critiprjctid.PersonalInfo.Name;
                            criticalid = critiprjctid.Id;
                        }

                    }
                    <td>@criticalname</td>
                    <td>
                        @if (IsCritical == true)
                        {

                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "ti-pencil" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "ti-trash" })

                        }
                        else
                        {
                            <a href='@Url.Action("Create", "CriticalResource", new {id=@item.Id})'>Add Details</a>
                        }




                    </td>

                </tr>
            }

        </table>

    </div>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)

            of @Model.PageCount
        </div>
        <div class="pagination" style="margin-left: 0px;">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = false })
            @*//PagedListRenderOptions.OnlyShowFivePagesAtATime })*@
        </div>

    </div>
}

else
{
    <div class="card-body" style="color:red;"><b>No Record Found</b></div>
}

