@model RetentionTool.Models.CommonFieldViewModel

@{
    ViewBag.Title = "Create CommonField";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
<div class="card">
    <div class="card-header">
        <h2>Create CommonField</h2>

    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:30%" })
                    @Html.ValidationMessageFor(model=>model.Name,"", new { @class = "text-danger" })
                </div>
                <br />

                @*<div>
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:30%" })
                </div>
                <br />*@
                @*<div>

                    @Html.CheckBox("IsActive", false)
                    @Html.LabelFor(model => model.IsActive)
                </div>*@
                <div>

                    <input type="submit" value="Create" class="btn btn-success" />
                    @Html.ActionLink("Back to List", "Index", "CommonField", null, new { @class = "btn btn-outline-link" })
                </div>

            </div>


        }

       

    </div>
</div>



