@model RetentionTool.ViewModel.EmployeeInformationViewModel
@{
    ViewBag.Title = "Employees";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    var details = ViewBag.details;
}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1> Employees</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "EmployeeInformation")">Employee Information /</a></li>
                    <li class="active"> Index </li>
                </ol>
            </div>
        </div>
    </div>
</div>

    <div class="card-body">
        @Html.ActionLink("Create New", "CreateEmployee", "EmployeeInformation", null, new { @class = "btn btn-outline-primary" })

        @if (details.Count > 0)
        {
            <div class="container" style="width:100%;margin-top:2%">
                <table class="table table-striped" id="tble">
                    <tr>
                        <th width="40%">@Html.DisplayNameFor(model => model.PersonalInfoVm.Name)</th>
                        <th width="30%">@Html.DisplayNameFor(model => model.PersonalInfoVm.EmpCode)</th>
                        <th width="30%">@Html.Label("Image")</th>
                        <th>@Html.Label("Actions")</th>
                    </tr>
                    @foreach (var item in details)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.EmpCode</td>
                            <td><img src=@item.Image height="50" width="50" /></td>
                            <td>
                                @Html.ActionLink("View Details", "Delete", new { id = item.Id })
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "ti-pencil" })
                                @*@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "ti-trash" })*@
                            </td>
                        </tr>
                    }

                </table>

            </div>
        }

    </div>
