@model  RetentionTool.ViewModel.SessionSummaryViewModel
@{
    ViewBag.Title = "CreateSession";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var empDetails = ViewBag.empDetails;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="card">
    <div class="card-header">

        <h2>Create Session Summary</h2>
    </div>
    <div class="card-body card-block">

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Date, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>
                    @Html.EditorFor(m => m.session.Date, new { htmlAttributes = new { @class = "form-control", @id = "date", style = "width:60%" } })


                </div><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Hours, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.TextBoxFor(m => m.session.Hours, new { @id = "hours", @class = "form-control", style = "width:60%" })</div><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Description, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.TextBoxFor(m => m.session.Description, new { @id = "descr", @class = "form-control", style = "width:60%" })</div><br />
            </div>
        </div>

        <br />


        <table class="mytbl table table-striped">
            <thead>
                <tr>

                    <th style="display:none">Employee Id</th>
                    <th>Employee Name</th>
                    <th>Attendance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emplist1 in empDetails)
                {

                    <tr>

                        <td style="display:none">@emplist1.Id</td>
                        <td>@emplist1.Name</td>
                        <td><input type="checkbox" class="chck" name="attendance" /></td>
                        <td><input type="text" name="remark" /></td>
                    </tr>


                }

            </tbody>


        </table>


        <div class="card-body">
            <input id="btnSave" type="submit" value="Create" class="btn btn-success" /> @Html.ActionLink("Back to List", "Index")
        </div>

    </div>

</div>
<script>
    var trainingdetid;
    //$(document).ready(function () {

    //    var training = Request.QueryString["trainingid"];
    //    alert(training);

    //});
    $(document).ready(function () {
        //alert("Load...");
        var training = location.search.substring(1).split('&');
            //location.search.split('trainingid=');
        // var training = Request.QueryString["trainingid"];

        var nv = training[0].split('=');
         trainingdetid = nv[1];
       // alert(trainingdetid);
       // alert(nv[1]);
       // var nv1 = training[1].split('=');
      //  var moduleId = nv1[1];
       // alert(nv1[1]);

        //alert(training[0]);
        //alert(training[1]);

      //  var url = HttpContext.Current.Request.Url.AbsoluteUri;

      //  var data = url.Split('?')[1].Split('=')[1];

      //  alert(data);


        //var tid = Request.url.["trainingid"];
        //alert(tid);
    });

    //// .load() method deprecated from jQuery 1.8 onward
    //$(window).on("load", function () {

    //    // Executes when complete page is fully loaded, including
    //    // all frames, objects and images
    //    alert("Window is loaded");
    //});
      $("#btnSave").click(function () {


          var itemlist=[];

          $("table tr:not(:first)").each(function () {
              var attendance;
              var remark;
              if ($(this).find('input.chck').is(':checked')) {
                  attendance = true;
              }
              else {
                  attendance = false;
              }

              remark = $(this).find("td:eq(3) input[type='text']").val();
                    var tdlist = $(this).find("td");

              var Item = { Id: $(tdlist[0]).html(), Name: $(tdlist[1]).html(), Attendance: attendance, Remark: remark };
                    itemlist.push(Item);
                })

          var date = $("#date").val();
        //  alert(date);
          var hours = $("#hours").val();
        //  alert(hours);
          var desc = $("#descr").val();
        //  alert(desc);
          var mod = [];
          mod = { TrainingDet_Id: trainingdetid, Date: date, Hours: hours, Description: desc };
         var newUrl= '@Url.Action("Index", "SessionSummary")';
                $.ajax({
                    url: '@Url.Action("Create", "SessionSummary")', //
                    dataType: "json",
                    data: JSON.stringify({ list: itemlist, sessionVM: mod }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        window.location.href = newUrl;
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            });
</script>