@model RetentionTool.Models.SkillsViewModel
@{
    ViewBag.Title = "Delete Skills";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="card">

    <div class="card-header">
        <h2>Delete Skills</h2>

    </div>
    <div class="card-body">

        <div class="form-group">
            @using (Html.BeginForm())
            {
                @Html.LabelFor(model => model.CommonFieldName, "Common Field Name: ")
                <label>&nbsp;</label>
                @Html.DisplayFor(model => model.CommonFieldName, new { @class = "form-control", style = "width:30%" })

                <br />
                @Html.LabelFor(model => model.SkillName, "Skill Name: ")
                <label>&nbsp;</label>
                @Html.DisplayFor(model => model.SkillName, new { @class = "form-control", style = "width:30%" })
                @*<br />
            @Html.CheckBox("IsActive",new { @disabled="disable"})
            @Html.LabelFor(model => model.IsActive,"Is Active ")*@


                <br />

                //<input type="text" name="CommonFieldName" value=@Model.CommonFieldName readonly />
                if (ViewData["Message"] == null)
                {
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
                else
                {
                   
                    <b>  @ViewData["Message"]</b>
                    <br />
                }

                @Html.ActionLink("Back to List", "Index", "Skills", null, new { @class = "btn btn-outline-link" })

            }
        </div>


        @*}
        else
        {
           <div class="card-body">
@ViewData["Message"]
               @Html.ActionLink("Back to List", "Index", "Skills", null, new { @class = "btn btn-outline-link" })

           </div>
        }*@


    </div>
</div>

