@model RetentionTool.Models.SkillsViewModel
@{
    ViewBag.Title = "Edit Secondary Skill";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="card">
    <div class="card-header">
        <h2>Edit Secondary Skill</h2>

    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.CommonFieldName)
            @Html.DropDownListFor(model => model.selectedCommmonField, ViewData["CommField"] as SelectList, htmlAttributes: new { @class = "form-control", style = "width:30%" })
            <br />

            @Html.LabelFor(model => model.SkillName)
            @Html.TextBoxFor(model => model.SkillName, htmlAttributes: new { @class = "form-control", style = "width:30%" })
            <br />
            @*@Html.CheckBox("IsActive")
            @Html.LabelFor(model => model.IsActive)
            <br />*@
            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Back to List", "Index", "Skills", null, new { @class = "btn btn-outline-link" })

        }

        </div>

</div>





