@model RetentionTool.Models.AssignEvaluater
@{
    ViewBag.Title = "Create Assign Evaluter";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create  Assign Evaluater</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "AssignEvaluater")">Assign Evaluater /</a></li>
                    <li class="active"> Create </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card">
    @*<div class="card-header">

        <h2>Create Assign Evaluation</h2>
    </div>*@
    <div class="card-body card-block">

        <div class="row form-group">
            <div class="col col-md-3">
                <div>
                    @Html.HiddenFor(m => m.AssignResource_Id, new { @id = "assresid" })

                    <input type="radio" value="employee" name="type" class="chckEmp" checked />Employee
                </div>

            </div>
            <div class="col-12 col-md-9">
                <div class="col-12 col-md-9">
                    <input type="radio" value="trainer" name="type" class="chckTrain" />Trainer
                   
                </div>
                <br />
            </div>
        </div>
        <div class="row form-group" id="trainerview" style="display:none">
            <div class="col col-md-3">
                <div>@Html.Label("Trainer Name")</div>

            </div>
            <div class="col-12 col-md-9">
                <div class="col-12 col-md-9">
                    @*@Html.HiddenFor(m => m.AssignResource_Id)*@
                    @Html.DropDownListFor(m => m.Trainer_Id, ViewData["trainerslist"] as SelectList, new { @class = "form-control",@id="trainerid", style = "width:30%" })


                </div>
                <br />
            </div>
        </div>

        <div class="row form-group" id="employeeview" >
            <div class="col col-md-3">
                <div>@Html.Label("Employee Name")</div>

            </div>
            <div class="col-12 col-md-9">
                <div class="col-12 col-md-9">
                    @Html.HiddenFor(m => m.AssignResource_Id)
                    <input class="form-control" style="width:30%" id="searchemp" />
                    <input id="searchid" style="display:none" />
                    @*@Html.DropDownListFor(m => m.Trainer_Id, ViewData["trainerslist"] as SelectList, new { @class = "form-control", style = "width:30%" })*@


                </div>
                <br />
            </div>
        </div>

        <br />
        @*@using (Html.BeginForm("Create", "AssignEvaluater"))
        {*@
            <div class="card-body">
                <input type="submit" value="Create" id="btnSave" class="btn btn-success" /> @Html.ActionLink("Back to List", "Index")
            </div>
        @*}*@
    </div>

</div>

<script>
    $(function () {
        $("#btnSave").click(function () {
            var isEmp;
            var trainerid;
            var empid = 0;
            if ($('input.chckEmp').is(':checked')) {
                isEmp = true;
                empid = $("#searchid").val();
            }

            if ($('input.chckTrain').is(':checked')) {

                isEmp = false;
                trainerid = $("#trainerid").val();
            }
           // var trainerid = $("#trainerid").val();
            var assresid = $("#assresid").val();
                var newUrl= '@Url.Action("Index", "AssignEvaluater")';

            var mod = { AssignResource_Id: assresid, Trainer_Id: trainerid };
               
                $.ajax({
                    url: '@Url.Action("Create", "AssignEvaluater")', //
                    dataType: "json",
                    data: JSON.stringify({ assigneval: mod, isemp: isEmp, empid: empid}),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                       
                        window.location.href = newUrl;
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
        });
        $("#searchemp").autocomplete({
            source: function (request, response) {
                var param = { name: $('#searchemp').val() };
                $.ajax({
                    url: "/Admin/GeneralTraining/getEmployee",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { name: item.Name, id: item.Id, label: item.EmpCode + '-' + item.Name, lbl: item.EmpCode }
                        }))
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            select: function (event, ui) {
                // prevent autocomplete from updating the textbox
                event.preventDefault();
                $(this).val(ui.item.name);

                $("#searchid").val(ui.item.id);
            }
        });
        $('input.chckEmp').change(

            function () {
                if ($('input.chckEmp').is(':checked')) {
                    $('#employeeview').show();
                    $('#trainerview').hide();
                } else {
                    $('#employeeview').hide();
                    $('#trainerview').show();
                    $("#searchid").val('');
                    $("#searchemp").val('');
                }
            });

        $('input.chckTrain').change(

            function () {
                if ($('input.chckTrain').is(':checked')) {
                    $('#trainerview').show();
                    $('#employeeview').hide();
                } else {
                    $('#trainerview').hide();
                    $('#employeeview').show();
                }
            });
    });
    //trainerview
</script>