
@model RetentionTool.Models.AssignEvaluater
@{
    ViewBag.Title = "Delete Assign Evaluater";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-header">

            <h2>Delete Assign Evaluater</h2>
        </div>
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.Label("Project Name")</div>

                </div>
                <div class="col-12 col-md-9">
                    <div class="col-12 col-md-9">
                        @Html.HiddenFor(m => m.Id)
                        @Html.DisplayTextFor(m => m.AssignResource.ProjectsDetail.Name)

                    </div>
                    <br />
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.Label("Trainer Name")</div>

                </div>
                <div class="col-12 col-md-9">
                    <div class="col-12 col-md-9">
                        @Html.DisplayTextFor(m=>m.Trainer.PersonalInfo.Name)
                       

                    </div>
               
                </div>
            </div>

            <br />

            <div class="card-body">
                <input type="submit" value="Delete" class="btn btn-danger" /> @Html.ActionLink("Back to List", "Index")
            </div>

        </div>

    </div>
}



