@model RetentionTool.Models.RateEmployeeEligiability
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
   // var assign = ViewBag.assign;
}
@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-header">

            <h2>Edit Rate Employee</h2>

        </div>

        <div class="card-body card-block">

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.AssignResources_Id)</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.AssignResources_Id, new { @id = "AssignResources_Id" })
                        
                        @Html.HiddenFor(m=>m.AssignResources_Id)
                        </div><br />
                    <div>@Html.HiddenFor(m => m.Id, new { @id = "id" })</div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.Employee_Id)</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.Employee_Id, new { @id = "Employee_Id" })</div><br />
                    @Html.HiddenFor(m=>m.Employee_Id)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.Employee.Name)</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.Employee.Name, new { @id = "EmployeeName" })</div><br />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.Grade)</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.EditorFor(m => m.Grade, new { @id = "Grade" })</div><br />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.IsEligible)</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.EditorFor(m => m.IsEligible, new { @id = "IsEligible" })</div><br />
                </div>
            </div>
            <div class="card-body">
                @*<button type="button" id="btnGet" class="btn btn-success">Save</button>*@
                <input type="submit" value="Edit" class="btn btn-success"/>
                
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>

    </div>
}




@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

    $(function () {
        $("#btnGet").click(function () {
            debugger;

            var id = $("#id").val();
            alert('id');
            var AssignResources_Id = $("#AssignResources_Id").val();
            alert('AssignResources_Id');
            var Employee_Id = $("#Employee_Id").val();

            var EmployeeName = $("#EmployeeName").val();
            var IsEligible = $("#IsEligible").val();



            var mod = { AssignResources_Id: AssignResources_Id, Employee_Id: Employee_Id, EmployeeName: EmployeeName, IsEligible: IsEligible };

            $.ajax({
                type: "POST",
                url: "/RateEmployee/Edit",
                data: JSON.stringify({ id: id, ree: mod }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(success);
                },
                failure: function (response) {
                    alert(response.responseText);
                },

            });

        });
    });
</script>*@