@model RetentionTool.Models.ModuleViewModel
@{
    ViewBag.Title = "Delete Module";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var mDetails = ViewBag.ModuleDetails;
}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Delete Module</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "Module")">Module /</a></li>
                    <li class="active"> Delete </li>
                </ol>
            </div>
        </div>
    </div>
</div>

    <style type="text/css">
        form {
            margin: 20px 0;
        }

            form input, button {
                padding: 5px;
            }

        table {
            width: 60%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #cdcdcd;
        }

            table th, table td {
                padding: 10px;
                text-align: left;
            }
    </style>

    @using (Html.BeginForm())
    {
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(Model => Model.ModuleName, new { @class = " form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.ModuleName, new { @class = "form-control" })</div><br />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(Model => Model.CommonField, new { @class = " form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.CommonFieldName, new { @id = "Common_Id", @class = "form-control" })</div><br />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(Model => Model.Skill, new { @class = " form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.SkillName, new { @Id = "skill_Id", @class = "form-control" })</div><br />
                </div>
            </div>


            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(Model => Model.Date, new { @class = " form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>@Html.DisplayFor(m => m.Date)</div><br />
                </div>
            </div>


            @*<div class="row form-group">
                    <div class="col col-md-3">
                        <div>@Html.LabelFor(Model => Model.Topics, new { @class = " form-control-label" })</div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div>@Html.DisplayFor(m => m.Topics, new { @class = "form-control" })</div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <div>@Html.LabelFor(Model => Model.HoursRequired, new { @class = " form-control-label" })</div>

                    </div>
                    <div class="col-12 col-md-9">
                        <div>@Html.DisplayFor(m => m.HoursRequired, new { @class = "form-control" })</div>
                    </div>
                </div>*@

            <table>
                <thead>
                    <tr>
                        <th>Topics</th>
                        <th>HoursRequired</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var i1 in mDetails)
                    {
                        <tr>
                            <td>@i1.Topics</td>
                            <td>@i1.HoursRequired</td>
                        </tr>
                    }

                </tbody>
            </table>
            @*@Html.HiddenFor(m => m.ModuleDetId);*@
            
            <input type="submit" value="Delete" class="btn btn-danger" /> | @Html.ActionLink("Back to List", "Index", "module", null, new { @class = "btn btn-outline-link" })
        </div>

    }

