@model RetentionTool.ViewModel.ModuleViewModel1

@{
    ViewBag.Title = "Edit Module";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var mDetails = ViewBag.ModuleDetails;
}

<script src="~/Scripts/assets/js/vendor/jquery-3.3.1.js"></script>
<script src="~/Scripts/assets/js/vendor/jquery-3.3.1.min.js"></script>
<div class="card">
    <div class="card-header">
        <h2>Edit Module</h2>
    </div>

    <div class="card-body card-block">

        <div class="row form-group">
            <div class="col col-md-3">
                @Html.LabelFor(m => Model.module.ModuleName, new { @class = "form-control-label" })

            </div>
            <div class="col-12 col-md-9">

                <div>
                    @Html.TextBoxFor(m => Model.module.ModuleName, new { @id = "ModuleName", @class = "form-control", style = "width:40%", placeholder = "Enter Module Name" })
                </div><br />
                @Html.HiddenFor(m => Model.module.Module_Id, new { @id = "ModuleID" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                @Html.LabelFor(m => Model.module.CommonField, new { @class = "form-control-label" })
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.DropDownListFor(m => Model.module.SelectedCommonFields, Model.module.CommonField, "Select", new { @id = "Common_Id", @class = "form-control", style = "width:40%" })</div><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                @Html.LabelFor(m => Model.module.Skill, new { @class = "form-control-label" })
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.DropDownListFor(m => Model.module.SelectedSkills, new SelectList(Model.module.Skill, "Value", "Text"), new { @Id = "skill_Id", @class = "form-control", style = "width:40%" })</div><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                @Html.LabelFor(m => Model.module.Date, new { @class = "form-control-label" })
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.EditorFor(m => Model.module.Date, new { htmlAttributes = new { @Id = "DateId", @class = "form-control", style = "width:40%" } })</div><br />
            </div>
        </div>

        <style type="text/css">
            form {
                margin: 20px 0;
            }

                form input, button {
                    padding: 5px;
                }

            table {
                width: 100%;
                margin-bottom: 20px;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid #cdcdcd;
            }

                table th, table td {
                    padding: 10px;
                    text-align: left;
                }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".add-row").click(function () {

                    var Topics = $("#Topics").val();
                    var HoursRequired = $("#HoursRequired").val();
                    var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + Topics + "</td><td>" + HoursRequired + "</td></tr>";
                    $("table tbody").append(markup);
                });

                // Find and remove selected table rows
                $(".delete-row").click(function () {
                    $("table tbody").find('input[name="record"]').each(function () {
                        if ($(this).is(":checked")) {
                            $(this).parents("tr").remove();
                        }
                    });
                });            

            
        });
        </script>

        <form>
            <input type="text" id="Topics" placeholder="Topics">
            <input type="text" id="HoursRequired" placeholder="Hours Required">
            <input type="button" class="add-row" value="Add Row">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Topics</th>
                    <th>HoursRequired</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var i1 in mDetails)
                {
                    <tr>
                        <td><input type="checkbox" name="record"></td>
                        <td>@i1.Topics</td>
                        <td>@i1.HoursRequired</td>                        
                    </tr>
                }

            </tbody>
        </table>
        <button type="button" class="delete-row">Delete Row</button>
        <br />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        $(function () {
            $("#btnSave").click(function () {
                //debugger;
                var itemlist = [];

                //get cell values, instead of the header text.
                $("table tr:not(:first)").each(function () {
                    var tdlist = $(this).find("td");
                    var Item = {  Topics: $(tdlist[1]).html(), HoursRequired: $(tdlist[2]).html() };
                    itemlist.push(Item);
                })
                var modid = $("ModuleID").val();
                var mod1 = $("#ModuleName").val();
                var mod2 = $("#Common_Id").val();
                var mod3 = $("#skill_Id").val();
                var mod4 = $("#DateId").val();

                var newUrl= '@Url.Action("Index","Module")';

                var mod = { ModuleName: mod1, SelectedCommonFields: mod2, SelectedSkills:mod3, Date:mod4 };
               // alert(mod);
                $.ajax({
                    url: '@Url.Action("Edit", "Module")', //
                    dataType: "json",
                    data: JSON.stringify({ itemlist: itemlist, mvm: mod, id: modid }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                     
                        window.location.href = newUrl;
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            });
        });
        </script>

        @Html.HiddenFor(m1 => Model.module.ModuleDetId)
        @*<input type="hidden" id="custId" name="custId" value=@Model.ModuleDetId>*@
        <input id="btnSave" type="submit" value="Save" class="btn btn-success" /> @Html.ActionLink("Back to List", "Index", "module", null, new { @class = "btn btn-outline-link" })
        @*</div>*@


    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#Common_Id').change(function () {

            //debugger;

            var selected = $('#Common_Id').val();
            //alert(selected);
            $.ajax(
                {
                    url: '/Module/getSkills',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({ skillId: +selected }),
                    success: function (result) {
                        $('#skill_Id').empty();
                        $.each(result, function (i, Skill) {
                            $('#skill_Id').append('<option value="' + Skill.Value + '">' + Skill.Text + '</option>');
                        });
                    },
                    error: function () { alert("Something Gone Wrong") },
                });
        })
    });
</script>





