@model  RetentionTool.ViewModel.SessionSummaryViewModel
@{
    ViewBag.Title = "CreateSession";
    Layout = "~/Areas/Trainer/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var empDetails = ViewBag.empDetails;
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="card">
    <div class="card-header">

        <h2>Create Session Summary</h2>
    </div>
    <div class="card-body card-block">

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Date, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>
                    @Html.EditorFor(m => m.session.Date, new { htmlAttributes = new { @class = "form-control", @id = "date", style = "width:60%" } })
                    @Html.ValidationMessageFor(model => model.session.Date, "Required", new { @class = "text-danger", @id = "errdate" })

                </div><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Hours, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.TextBoxFor(m => m.session.Hours, new { @id = "hours", @class = "form-control", style = "width:60%" })</div><br />
                @Html.ValidationMessageFor(model => model.session.Hours, "Required", new { @class = "text-danger", @id = "errhour" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Description, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.TextBoxFor(m => m.session.Description, new { @id = "descr", @class = "form-control", style = "width:60%" })</div><br />
                @Html.ValidationMessageFor(model => model.session.Description, "Required", new { @class = "text-danger", @id = "errdesc" })
            </div>
        </div>

        <br />


        <table class="mytbl table table-striped">
            <thead>
                <tr>

                    <th style="display:none">Employee Id</th>
                    <th>Employee Name</th>
                    <th>Attendance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emplist1 in empDetails)
                {

                    <tr>

                        <td style="display:none">@emplist1.Id</td>
                        <td>@emplist1.Name</td>
                        <td><input type="checkbox" class="chck" name="attendance" /></td>
                        <td><input type="text" name="remark" /></td>
                    </tr>


                }

            </tbody>


        </table>


        <div class="card-body">
            <input id="btnSave" type="submit" value="Create" class="btn btn-success" /> @Html.ActionLink("Back to List", "Index")
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {
        $("#errtpc").hide();
        $("#errdate").hide();
        $("#errskill").hide();
        $("#errmoduleid").hide();
        $("#errcomm_id").hide();


    });
    ////date, errdate
    $("#date").change(function () {

        if ($("#date").val().length > 0) {
            $("#errdate").hide();
        }
        else {
            $("#errdate").show();
        }
    });
    ////hours,errhour
    $("#hours").keydown(function () {
        if (event.which === 8) {
            if ($("#hours").val().length > 0) {
                $("#errhour").hide();
            }
            else if ($("#hours").val() === "" || $("#hours").val().length === 0) {

                $("#errhour").show();
            }
        }
        else if ($("#hours").val() == "") {
            $("#errhour").hide();
        }
    });
    ////descr,errdesc
    //Common_Id,errcomm_id,skill_Id,errskill
    $("#Common_Id").change(
        function () {
            if ($("#Common_Id").val() > 0) {
                $("#errcomm_id").hide();
            }
            else {
                $("#errcomm_id").show();
            }

        });
    // moduleid,errmoduleid
    $("#skill_Id").change(function () {
        if ($("#skill_Id").val() > 0) {
            $("#errskill").hide();
        }
        else {

            $("#errskill").show();
        }

    });
    //trainerid,errtrainerid


    function validate() {

        if ($("#DateId").val().length > 0) {
            $("#errdate").hide();
        }
        else {
            $("#errdate").show();
        }
        if ($("#skill_Id").val() > 0) {
            $("#errskill").hide();
        }
        else {

            $("#errskill").show();
        }

        if ($("#Common_Id").val() > 0) {
            $("#errcomm_id").hide();
        }
        else {
            $("#errcomm_id").show();
        }
        if ($("#ModuleName").val().length > 0) {
            $("#errmoduleid").hide();
        }
        else {

            $("#errmoduleid").show();
        }


    }


</script>


<script>
    var trainingdetid;
    //$(document).ready(function () {

    //    var training = Request.QueryString["trainingid"];
    //    alert(training);

    //});
    $(document).ready(function () {
        //alert("Load...");
        var training = location.search.substring(1).split('&');
            //location.search.split('trainingid=');
        // var training = Request.QueryString["trainingid"];

        var nv = training[0].split('=');
         trainingdetid = nv[1];
       // alert(trainingdetid);
       // alert(nv[1]);
       // var nv1 = training[1].split('=');
      //  var moduleId = nv1[1];
       // alert(nv1[1]);

        //alert(training[0]);
        //alert(training[1]);

      //  var url = HttpContext.Current.Request.Url.AbsoluteUri;

      //  var data = url.Split('?')[1].Split('=')[1];

      //  alert(data);


        //var tid = Request.url.["trainingid"];
        //alert(tid);
    });

    //// .load() method deprecated from jQuery 1.8 onward
    //$(window).on("load", function () {

    //    // Executes when complete page is fully loaded, including
    //    // all frames, objects and images
    //    alert("Window is loaded");
    //});
      $("#btnSave").click(function () {


          var itemlist=[];

          $("table tr:not(:first)").each(function () {
              var attendance;
              var remark;
              if ($(this).find('input.chck').is(':checked')) {
                  attendance = true;
              }
              else {
                  attendance = false;
              }

              remark = $(this).find("td:eq(3) input[type='text']").val();
                    var tdlist = $(this).find("td");

              var Item = { Id: $(tdlist[0]).html(), Name: $(tdlist[1]).html(), Attendance: attendance, Remark: remark };
                    itemlist.push(Item);
                })

          var date = $("#date").val();
        //  alert(date);
          var hours = $("#hours").val();
        //  alert(hours);
          var desc = $("#descr").val();
        //  alert(desc);
          var mod = [];
          validate();
          if (date.length > 0 && hours.length > 0 && desc.length > 0) {
              var newUrl = '@Url.Action("Index", "SessionSummary")';
              $("#btnSave").attr('disabled', true);
              mod = { TrainingDet_Id: trainingdetid, Date: date, Hours: hours, Description: desc };
              var newUrl = '@Url.Action("Index", "SessionSummary")';
              $.ajax({
                  url: '@Url.Action("Create", "SessionSummary")', //
                  dataType: "json",
                  data: JSON.stringify({ list: itemlist, sessionVM: mod }),
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  success: function (result) {
                      window.location.href = newUrl;
                  },
                  error: function (xhr) {
                      alert("error");
                  }
              });
          }
       });
</script>