@model RetentionTool.ViewModel.SessionSummaryViewModel
@{
    ViewBag.Title = "Delete Session Summary";
    Layout = "~/Areas/Trainer/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var empDetails = ViewBag.sessionDetails;
}


@using (Html.BeginForm())
{
    <div class="breadcrumbs">
        <div class="col-sm-6">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1> Delete Session Summary</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right" style="background-color:white">
                        @*<li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard </a></li>*@
                        <li><a href="@Url.Action("Index", "SessionSummary")">Session Summary </a></li>
                        <li class="active"> Delete </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="width:50%;margin-top:2%">

        <div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.session.Date, new { @class = "form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>
                        @Html.HiddenFor(m => m.session.Id, new { @id = "sessionid" })
                        @Html.HiddenFor(m => m.session.TrainingDet_Id, new { @id = "transdetid" })
                        @Html.DisplayFor(m => m.session.Date)


                    </div><br />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.session.Hours, new { @class = "form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>
                        @Html.DisplayFor(m => m.session.Hours)
                    </div><br />
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.LabelFor(m => m.session.Description, new { @class = "form-control-label" })</div>
                </div>
                <div class="col-12 col-md-9">
                    <div>
                        @Html.DisplayFor(m => m.session.Description)
                    </div><br />
                </div>
            </div>

            <br />



            <table class="mytbl table table-striped" style="width:100%">
                <thead>
                    <tr>

                        <th style="display:none">Employee Id</th>
                        <th>Employee Name</th>
                        <th>Attendance</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emplist in empDetails)
                    {

                        <tr>

                            <td style="display:none">@emplist.Id</td>
                            <td>@emplist.Name</td>
                            <td>@emplist.Attendance</td>
                            <td>@emplist.Remark</td>
                        </tr>


                    }


                </tbody>


            </table>

            <div class="row form-group">
                <div class="col col-md-3">

                </div>
                <div class="col-12 col-md-9">

                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Back to List", "Index", "SessionSummary", null, new { @class = "btn btn-outline-link" })


                </div>
            </div>


        </div>

    </div>
}



