@model  RetentionTool.ViewModel.SessionSummaryViewModel

@{
    ViewBag.Title = "Edit Session Summary";
    Layout = "~/Areas/Trainer/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";

    var empDetails = ViewBag.sessionDetails;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1> Edit Session Summary</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    @*<li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard </a></li>*@
                    <li><a href="@Url.Action("Index", "SessionSummary")">Session Summary </a></li>
                    <li class="active"> Edit </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container" style="width:100%;margin-top:2%">

    <div>
        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Date, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>
                    @Html.HiddenFor(m => m.session.Id, new { @id = "sessionid" })
                    @Html.HiddenFor(m => m.session.TrainingDet_Id, new { @id = "transdetid" })
                    @Html.EditorFor(m => m.session.Date, new { htmlAttributes = new { @class = "form-control", @id = "date", style = "width:60%" } })
                    @Html.ValidationMessageFor(model => model.session.Date, "Required", new { @class = "text-danger", @id = "errdate" })


                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Hours, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.TextBoxFor(m => m.session.Hours, new { @Id = "hours", @class = "form-control", style = "width:60%" })</div>
                @Html.ValidationMessageFor(model => model.session.Hours, "Required", new { @class = "text-danger", @id = "errhour" })
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.session.Description, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.TextBoxFor(m => m.session.Description, new { @Id = "descr", @class = "form-control", style = "width:60%" })</div>
                @Html.ValidationMessageFor(model => model.session.Description, "Required", new { @class = "text-danger", @id = "errdesc" })
            </div>
        </div>

        <br />



        <table class="mytbl table table-striped">
            <thead>
                <tr>

                    <th style="display:none">Employee Id</th>
                    <th>Employee Name</th>
                    <th>Attendance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emplist in empDetails)
                {

                    <tr>

                        <td style="display:none">@emplist.Id</td>
                        <td>@emplist.Name</td>
                        <td><input type="checkbox" name="attendance" class="chck" checked="@emplist.Attendance" /></td>
                        <td><input type="text" name="remark" value="@emplist.Remark" /></td>
                    </tr>


                }


            </tbody>


        </table>
        @Html.ValidationMessageFor(model => model.session.Description, "Required", new { @class = "text-danger", @id = "errtbl" })


        <div class="row form-group">
            <div class="col col-md-3">

            </div>
            <div class="col-12 col-md-9">

                <input type="submit" value="Save" id="btnSave" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", "SessionSummary", null, new { @class = "btn btn-outline-link" })


            </div>
        </div>


    </div>

</div>



<script>

    $(document).ready(function () {
        //$("#errtpc").hide();
        $("#errdate").hide();
        $("#errdesc").hide();
        $("#errhour").hide();
        $("#errtbl").hide();
        // $("#errcomm_id").hide();


    });
    ////date, errdate
    $("#date").change(function () {

        if ($("#date").val().length > 0) {
            $("#errdate").hide();
        }
        else {
            $("#errdate").show();
        }
    });
    ////hours,errhour
    $("#hours").keydown(function () {
        if (event.which === 8) {
            if ($("#hours").val().length > 0) {
                $("#errhour").hide();
            }
            else if ($("#hours").val() === "" || $("#hours").val().length === 0) {

                $("#errhour").show();
            }
        }
        else if ($("#hours").val() == "") {
            $("#errhour").hide();
        }
    });
    ////descr,errdesc
    //Common_Id,errcomm_id,skill_Id,errskill
    $("#descr").keydown(function () {
        if (event.which === 8) {
            if ($("#descr").val().length > 0) {
                $("#errdesc").hide();
            }
            else if ($("#descr").val() === "" || $("#descr").val().length === 0) {

                $("#errdesc").show();
            }
        }
        else if ($("#descr").val() == "") {
            $("#errdesc").hide();
        }
    });
    //   //remarkval  errtbl
    $("#remarkval").keydown(function () {
        if (event.which === 8) {
            if ($("#remarkval").val().length > 0) {
                $("#errtbl").hide();
            }
            else if ($("#remarkval").val() === "" || $("#remarkval").val().length === 0) {

                $("#errtbl").show();
            }
        }
        else if ($("#remarkval").val() == "") {
            $("#errtbl").hide();
        }
    });

    //trainerid,errtrainerid


    function validate() {

        if ($("#date").val().length > 0) {
            $("#errdate").hide();
        }
        else {
            $("#errdate").show();
        }
        if ($("#hours").val().length > 0) {
            $("#errhour").hide();
        }
        else {

            $("#errhour").show();
        }

        if ($("#descr").val().length > 0) {
            $("#errdesc").hide();
        }
        else {

            $("#errdesc").show();
        }


    }



</script>

<script>

      $("#btnSave").click(function () {

                var itemlist = [];
          var count = 0;
                //get cell values, instead of the header text.
          $("table tr:not(:first)").each(function () {
              var attendance;
              var remark;
              if ($(this).find('input.chck').is(':checked')) {
                  attendance = true;
              }
              else {
                  attendance = false;
              }

              remark = $(this).find("td:eq(3) input[type='text']").val();
              var tdlist = $(this).find("td");
              if (remark.length <= 0) {
                  count = 1;
                  $("#errtbl").show();
              }

              var Item = { Id: $(tdlist[0]).html(), Name: $(tdlist[1]).html(), Attendance: attendance, Remark: remark };
              itemlist.push(Item);
          })

          var date = $("#date").val();
          var sessionid = $("#sessionid").val();
          var transdetid = $("#transdetid").val();
        //  alert(date);
          var hours = $("#hours").val();
        //  alert(hours);
          var desc = $("#descr").val();
        //  alert(desc);
          var mod = [];
          validate();
          if (date.length > 0 && hours.length > 0 && desc.length > 0 && itemlist.length > 0 && count == 0) {
              mod = { Date: date, Hours: hours, Description: desc, Id: sessionid, TrainingDet_Id: transdetid };
              var newUrl = '@Url.Action("Index", "SessionSummary")';
              $("#btnSave").attr('disabled', true);
              $.ajax({
                  url: '@Url.Action("Edit", "SessionSummary")', //
                  dataType: "json",
                  data: JSON.stringify({ list: itemlist, sessionVM: mod, id: sessionid }),
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  success: function (result) {
                      window.location.href = newUrl;
                  },
                  error: function (xhr) {
                      alert("error");
                  }
              });
          }
            });
</script>
