@model RetentionTool.ViewModel.EmployeeEvalViewModel
@{
    ViewBag.Title = "Create Employee Evaluation";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    var assResDetails = ViewBag.assResDetails;
}
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Create Employee Evaluation</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "EmployeeEvaTaskl")">Employee Evaluation /</a></li>
                    <li class="active"> Create </li>
                </ol>
            </div>
        </div>
    </div>
</div>
@*<div class="card">*@
    @*<div class="card-header">

        <h2>Create Employee Evaluation</h2>

    </div>*@
    <div class="container" style="width:100%;margin-top:2%">
        <table class="table table-striped" id="tble" style="width:100%">
            <tr>
                <th>@Html.DisplayNameFor(model => model.EmployeeEvalTask.AssignResource_Id)</th>
                <th>@Html.Label("Project Name")</th>
                <th>
                    @Html.Label("Manager Name")
                </th>
                <th>@Html.DisplayNameFor(model => model.EmployeeEvalTask.AssignResource.Module.ModuleName)</th>
                <th>@Html.Label("Trainer Name")</th>


                <th>@Html.Label("Actions")</th>
            </tr>
            @foreach (var item in assResDetails)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.AssignResource.ProjectsDetail.Name</td>
                <td>@item.PersonalInfo.Name</td>
                <td>@item.Module.ModuleName</td>
                <td>@item.Trainer.Name</td>

                <td>
                    <a href='@Url.Action("CreateEmployeeEval", "EmployeeEvaTaskl", new {assignresid=@item.Id})'>Add Details</a>

                </td>

            </tr>
            }

        </table>
        <div class="card-body">
            @Html.ActionLink("Back to List", "Index")
        </div>
       

</div>

@*</div>*@