@model  RetentionTool.ViewModel.EmployeeEvalViewModel
@{
    ViewBag.Title = "Delete Employee Evaluation";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    }
<div class="breadcrumbs">
    <div class="col-sm-6">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Delete Employee Evaluation</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right" style="background-color:white">
                    <li><a href="@Url.Action("Index", "AdminDashboard")">Dashboard /</a></li>
                    <li><a href="@Url.Action("Index", "EmployeeEvaTaskl")">Employee Evaluation /</a></li>
                    <li class="active"> Delete </li>
                </ol>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{

    
        <div class="card-body card-block">


    <div class="row form-group">
        <div class="col col-md-3">
            <div>@Html.Label("Trainer Name")</div>

        </div>
        <div class="col-12 col-md-9">
            <div class="col-12 col-md-9">
                @Html.HiddenFor(m => m.EmployeeEvalTask.Id)
                @Html.DisplayFor(m => m.EmployeeEvalTask.Trainer.PersonalInfo.Name)


            </div>
            <br />
        </div>
    </div>



    <br />


    <table class="mytbl table table-striped" style="width:100%">
        <thead>
            <tr>

                <th style="display:none">Employee Id</th>
                <th>Employee Name</th>
                <th>Task Assigned</th>
                <th>Status</th>
                <th>IsEligibleMark</th>
                <th style="display:none">Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emplist in Model.empEvalTaskDetvm)
            {

                <tr>

                    <td style="display:none">@emplist.Employee_Id</td>
                    <td>@emplist.PersonalInfo.Name</td>
                    <td>@emplist.TaskAssigned</td>
                    <td>@emplist.Status</td>
                    <td>@emplist.IsEligiableMark</td>
                    <td style="display:none">@emplist.Id</td>
                </tr>


            }

        </tbody>


    </table>


    <div class="row form-group">
        <div class="col col-md-3">


        </div>
        <div class="col-12 col-md-9">
            <input type="submit" value="Delete" class="btn btn-danger" /> @Html.ActionLink("Back to List", "Index")
        </div>


    </div>

</div>


}

