@model RetentionTool.ViewModel.EmployeeEvalViewModel
@{
    ViewBag.Title = "Employee Evaluation";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    var assResDetails = ViewBag.assResDetails;
    var empevalDetails = ViewBag.empevalDetails;
    var assignevaluat = ViewBag.asseval;
}
<div class="card">
    <div class="card-header">
        <h2>Employee Evaluation</h2>
    </div>
 
    <div class="container" style="width:100%;margin-top:2%">
        <table class="table table-striped">
            <tr>
                <th>@Html.Label("Project Name")</th>
                <th>@Html.DisplayNameFor(model => model.EmployeeEvalTask.AssignResource.Module.ModuleName)</th>
                <th>@Html.Label("Trainer Name")</th>


                <th>@Html.Label("Actions")</th>
            </tr>
            @foreach (var item in assResDetails)
            {
                <tr>
                    @*<td>@item.Id</td>*@
                    <td>@item.ProjectsDetail.Name</td>
                    @*<td>@item.Manager.Name</td>*@
                    <td>@item.Module.ModuleName</td>
                    @*<td>@item.Trainer.Name</td>*@

                    @{ bool IsAdded = false;
                        int empeval = 0;
                        string trainername = "";}
                    @foreach (var assignev in assignevaluat)
                    {
                        if (assignev.AssignResource_Id == item.Id)
                        {
                            trainername = assignev.Trainer.PersonalInfo.Name;

                        }
                    }
                    @foreach (var empid in empevalDetails)
                    {
                        if (empid.AssignResource_Id == item.Id)
                        {
                            //trainername = empid.Trainer.PersonalInfo.Name;
                            IsAdded = true;
                        }


                    }
                    <td>@trainername</td>
                    <td>
                        @if (IsAdded == true)
                        {
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "ti-pencil" })
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "ti-trash" })



                        }
                        else
                        {
                            <a href='@Url.Action("CreateEmployeeEval", "EmployeeEvaTaskl", new {assignresid=@item.Id})'>Add Details</a>

                        }


                    </td>

                </tr>
            }

            @*<tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>

                    <th>@Html.DisplayNameFor(model => model.AssignResource_Id)</th>
                    <th>@Html.Label("Trainer Name")</th>
                    <th>@Html.Label("Module Name")</th>
                    <th>@Html.Label("Actions")</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AssignResource_Id</td>
                        <td>@item.Trainer.Name</td>
                        <td>@item.AssignResource.Module.ModuleName</td>



                        <td>
                            @Html.ActionLink(" ", "Edit", new {id=@item.Id},
                                          new { @class = "ti-pencil"} )
                            @Html.ActionLink(" ", "Delete", new { id = @item.Id }, new { @class = "ti-trash" })
                        </td>
                    </tr>
                }*@

        </table>

        @*<div data-role="popup" id="transitionExample" class="ui-content" data-theme="a">
                <p>I'm a simple popup.</p>
            </div>*@
    </div>
</div>