@model RetentionTool.ViewModel.TrainingViewModel
@{
    ViewBag.Title = "Edit Topics";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    var details = ViewBag.details;
}


<div class="card">
    <div class="card-header">
        <h2>Edit Topics</h2>
    </div>


    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.TrainingVm.FromDate, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                @Html.HiddenFor(m=>m.TrainingVm.Id,new { @id="trainingid"})
                @Html.HiddenFor(m=>m.TrainingVm.AssignResource_Id,new {@id="assignresid" })
                <div>@Html.EditorFor(m => m.TrainingVm.FromDate, new { htmlAttributes = new { @Id = "FromDate", @class = "form-control", style = "width:40%" } })</div><br />
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <div>@Html.LabelFor(m => m.TrainingVm.ToDate, new { @class = "form-control-label" })</div>
            </div>
            <div class="col-12 col-md-9">
                <div>@Html.EditorFor(m => m.TrainingVm.ToDate, new { htmlAttributes = new { @Id = "ToDate", @class = "form-control", style = "width:40%" } })</div><br />
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th style="display:none">Module Details Id</th>
                <th>Topics</th>
                <th>Hours Required</th>
            </tr>

            <tbody>
                @foreach (var emplist1 in details)
                {
                    <tr>
                        <td style="display:none" id="Id">@emplist1.Id</td>
                        <td id="Topics">@emplist1.Topics</td>
                        <td><input type="text" id="hours" value="@emplist1.HoursRequired" /></td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="card-body">
            <button type="button" id="btnGet" class="btn btn-success">Save</button>@Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    
    $(function () {
        $("#btnGet").click(function () {
           // debugger;

            var FromDate = $("#FromDate").val();
           // alert(FromDate);
            var ToDate = $("#ToDate").val();
            // alert(ToDate);
            var trainingid = $("#trainingid").val();
            var assignresid = $("#assignresid").val();

            var itemlist1 = [];
            $("table tr:not(:first)").each(function () {
             var  hours = $(this).find("td:eq(2) input[type='text']").val();
                var tdlist = $(this).find("td");
                var Item = { Id: $(tdlist[0]).html(), Topics: $(tdlist[1]).html(), HoursRequired: hours };
                itemlist1.push(Item);
            })

            var mod = { FromDate: FromDate, ToDate: ToDate, AssignResource_Id: assignresid, Id: trainingid};
      var newUrl= '@Url.Action("Index", "Training")';
            $.ajax({
                type: "POST",
                url: "/Training/Edit",
                data: JSON.stringify({ itemlist: itemlist1, tvm: mod, id: trainingid }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    window.location.href = newUrl;
                },
                failure: function (response) {
                    alert(response.responseText);
                },

            });

        });
    });
</script>
