@model RetentionTool.ViewModel.EmployeeEvalViewModel
@{
    ViewBag.Title = "Create Employee Evaluation";
    Layout = "~/Areas/Trainer/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var assResDetails = ViewBag.assResDetails;
}

<div class="card">
    <div class="card-header">

        <h2>Create  Employee Evaluation</h2>

    </div>
    @if (assResDetails.Count > 0)
    {
        <div class="container" style="width:100%;margin-top:2%">
            <table class="table table-striped" id="tble">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EmployeeEvalTask.AssignResource_Id)</th>
                    <th>@Html.Label("Project Name")</th>
                    <th>
                        @Html.Label("Manager Name")
                    </th>
                    <th>@Html.DisplayNameFor(model => model.EmployeeEvalTask.AssignResource.Module.ModuleName)</th>
                    <th>@Html.Label("Trainer Name")</th>


                    <th>@Html.Label("Actions")</th>
                </tr>
                @foreach (var item in assResDetails)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AssignResource.ProjectsDetail.Name</td>
                        <td>@item.PersonalInfo.Name</td>
                        <td>@item.Module.ModuleName</td>
                        <td>@item.Trainer.Name</td>

                        <td>
                            <a href='@Url.Action("CreateEmployeeEval", "EmployeeEvaTaskl", new {assignresid=@item.Id})'>Add Details</a>

                        </td>

                    </tr>
                }

            </table>
            <div class="card-body">
                @Html.ActionLink("Back to List", "Index")
            </div>


        </div>
    }
    else
    {
        <div class="card-body" style="color:red;"><b>No Record Found</b></div>
    }
</div>