@model  RetentionTool.ViewModel.EmployeeEvalViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Trainer/Views/Shared/_LayoutMain.cshtml";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-header">

            <h2>Delete Employee Evaluation </h2>
        </div>
        <div class="card-body card-block">

            <div class="row form-group">
                <div class="col col-md-3">
                    <div>@Html.Label("Trainer Name")</div>

                </div>
                <div class="col-12 col-md-9">
                    <div class="col-12 col-md-9">
                        @Html.HiddenFor(m => m.EmployeeEvalTask.Id)
                        @Html.DisplayFor(m => m.EmployeeEvalTask.Trainer.PersonalInfo.Name)


                    </div>
                    <br />
                </div>
            </div>



            <br />


            <table class="mytbl table table-striped">
                <thead>
                    <tr>

                        <th style="display:none">Employee Id</th>
                        <th>Employee Name</th>
                        <th>Task Assigned</th>
                        <th>Status</th>
                        <th>IsEligibleMark</th>
                        <th style="display:none">Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emplist in Model.empEvalTaskDetvm)
                    {

                        <tr>

                            <td style="display:none">@emplist.Employee_Id</td>
                            <td>@emplist.PersonalInfo.Name</td>
                            <td>@emplist.TaskAssigned" </td>
                            <td>@emplist.Status</td>
                            <td>@emplist.IsEligiableMark</td>
                            <td style="display:none">@emplist.Id</td>
                        </tr>


                    }

                </tbody>


            </table>


            <div class="card-body">
                <input  type="submit" value="Delete" class="btn btn-danger" /> @Html.ActionLink("Back to List", "Index")
            </div>

        </div>

    </div>
}

