@model RetentionTool.Models.AssignResourceViewModel
@{
    ViewBag.Title = "Delete Assign Resource";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
    var assignDetails = ViewBag.AssignResDetails;
}

<div class="card">

    <div class="card-header">

        <h2>Delete General Training</h2>
    </div>
    @using (Html.BeginForm())

    {
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">

                    @Html.LabelFor(m => m.Date, new { @class = " form-control-label" })
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(m => m.Date, new { @class = "form-control", style = "width:30%" })

                </div>


            </div>
            <br />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.Label("Project Name", new { @class = " form-control-label" })

                </div>
                <div class="col-12 col-md-9">
                    @Html.HiddenFor(m => m.Project_Id)
                    @Html.DisplayFor(m => m.projectname)
                </div>
            </div>



            <br />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.managername, new { @class = " form-control-label" })

                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(m => m.managername, new { @class = "form-control", style = "width:30%" })

                </div>


            </div>
            <br />
            <div class="row form-group">
                <div class="col col-md-3">

                    @Html.LabelFor(m => m.modulename, new { @class = " form-control-label" })
                </div>
                <div class="col-12 col-md-9">

                    @Html.DisplayFor(m => m.modulename, new { @class = "form-control", style = "width:30%" })

                </div>



            </div>
            <br />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.trainername, new { @class = " form-control-label" })

                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(m => m.trainername, new { @class = "form-control", style = "width:30%" })

                </div>
            </div>
            <br />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.LabelFor(m => m.employeename, new { @class = " form-control-label" })

                </div>
                <div class="col-12 col-md-9">
                    <ul style="list-style-type:none">



                        @foreach (var i in assignDetails)
                        {
                            <li>@i.PersonalInfo.Name</li>

                            @*<tr>
                                    <td><input type="checkbox" name="chck" /></td>
                                    <td>@i.Employee.Name</td>
                                    <td class="hidden">@i.Employee_Id</td>
                                </tr>*@
                        }
                    </ul>
                    @*@Html.DisplayFor(m => m.employeename, new { @class = "form-control", style = "width:30%" })*@
                    @Html.HiddenFor(m => m.AssignResourceId)
                </div>



            </div>
            <br />
            <div class="row form-group">
                <div class="col col-md-3">


                </div>
                <div class="col-12 col-md-9">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Back to List", "Index", "GeneralTraining", null, new { @class = "btn btn-outline-link" })


                </div>
            </div>

        </div>
    }


</div>

